<form id="quick-donate" class="quick-donate" action="https://secure.actblue.com/contribute/page/ourrevolution?amount=15" method="GET">
  <button type="button" class="btn btn-default btn-amount" value="15">$15</button>
  <button type="button" class="btn btn-primary btn-amount" value="27">$27</button>
  <button type="button" class="btn btn-default btn-amount" value="50">$50</button>
  <button type="button" class="btn btn-default btn-amount" value="100">$100</button>
  <input type="text" placeholder="$___" class="input-amount">
  <button class="btn btn-continue btn-secondary" id="donate-continue" type="submit">Continue <span class="glyphicon glyphicon-chevron-right"></span></button>
  <input type="hidden" name="amount" id="amount">
  <input type="hidden" name="refcode" id="refcode" value="home-bottom-donate">
</form>
