<footer class="text-center">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <p>Paid for by Our Revolution. Our Revolution is a 501(c)(4) organization. Contributions to Our Revolution are not deductible as charitable contributions for Federal income tax purposes.</p>

      <p><a href="mailto:info@ourrevolution.com?subject=Site%20Feedback">Contact Us</a> | <a href="/privacy-policy">Privacy Policy</a></p>
    </div>
  </div>
</footer>
