<div class="toggle-nav hidden-md hidden-lg" id="toggle-nav">Ballot Initiatives <i class="glyphicon glyphicon-menu-hamburger toggle-nav__icon"></i></div>
<ul class="nav nav-pills nav-stacked issues__nav" id="initiatives-nav">
  <li role="presentation" category="all" class="active">
    <a href="#"><span class="icon labor-2 all"></span>All Initiatives</span></a>
  </li>
  <li role="presentation" category="corporate-tax">
    <a href="#"><span class="icon corporate-tax"></span>Corporate Tax</span></a>
  </li>
  <li role="presentation" category="death-penalty">
    <a href="#"><span class="icon death-penalty"></span>Death Penalty</span></a>
  </li>
  <li role="presentation" category="education">
    <a href="#"><span class="icon education"></span>Education</span></a>
  </li>
  <li role="presentation" category="election-reform">
    <a href="#"><span class="icon election-reform"></span>Election Reform</span></a>
  </li>
  <li role="presentation" category="environment">
    <a href="#"><span class="icon environment"></span>Environment</span></a>
  </li>
  <li role="presentation" category="health-care">
    <a href="#"><span class="icon health-care"></span>Health Care</span></a>
  </li>
  <li role="presentation" category="labor">
    <a href="#"><span class="icon labor"></span>Labor</span></a>
  </li>
  <li role="presentation" category="marijuana">
    <a href="#"><span class="icon marijuana"></span>Marijuana</span></a>
  </li>
  <li role="presentation" category="minimum-wage">
    <a href="#"><span class="icon minimum-wage"></span>Minimum Wage</span></a>
  </li>
  <li role="presentation" category="money-in-politics">
    <a href="#"><span class="icon money-in-politics"></span>Money in Politics</span></a>
  </li>
</ul>
