<div class="toggle-nav hidden-md hidden-lg" id="toggle-nav">Ballot Initiatives <i class="glyphicon glyphicon-menu-hamburger toggle-nav__icon"></i></div>
<ul class="nav nav-pills nav-stacked issues__nav">
    <li role="presentation">
      <a href="#"><span class="animal-rights-icon"></span>Animal Rights</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="corporate-tax-icon"></span>Corporate Tax</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="death-penalty-icon"></span>Death Penalty</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="education-icon"></span>Education</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="election-reform-icon"></span>Election Reform</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="environment-icon"></span>Environment</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="health-care-icon"></span>Health Care</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="labor-icon"></span>Labor</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="marijuana-icon"</span>Marijuana</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="minimum-wage-icon"></span>Minimum Wage</span></a>
    </li>
    <li role="presentation">
      <a href="#"><span class="money-in-politics-icon"></span>Money in Politics</span></a>
    </li>
</ul>
