<div class="toggle-nav hidden-md hidden-lg" id="toggle-nav">Ballot Initiatives <i class="glyphicon glyphicon-menu-hamburger toggle-nav__icon"></i></div>
<ul class="nav nav-pills nav-stacked issues__nav">
    <li role="presentation">
      <a href="/ballot-initiatives/alaska-measure-1">Alaska Measure 1: Voter Registration via the Permanent Fund Dividend Application</a></span>
    </li>
    <li role="presentation">
      <a href="/ballot-initiatives/california-prop-61">California Proposition 61: Drug Price Standards</a>
    </li>
    <li role="presentation">
      <a href="/ballot-initiatives/california-prop-62">California Proposition 62: Repeal of the Failed Death Penalty System</a>
    </li>
    <li role="presentation">
      <a href="/ballot-initiatives/washington-initiative-735">Washington Initiative 735: “We the People”</a>
    </li>
    <li role="presentation">
      <a href="/ballot-initiatives/colorado-amendment-69">Colorado Amendment 69: ColoradoCare</a>
    </li>
    <li role="presentation">
      <a href="/ballot-initiatives/california-prop-59">California Proposition 59</a>
    </li>
    <li role="presentation">
      <a href="/ballot-initiatives/maryland-citizens-election-fund">Maryland: Citizens Election Fund</a>
    </li>
</ul>
