<div class='page-heading'>
  <h1>Our Issues</h1>
  <p>We must address the issues that our nation currently faces, from the devastating effects of climate change to the decline of the middle class.</p>
</div>
