<div class="toggle-nav hidden-md hidden-lg" id="toggle-nav">Issues <i class="glyphicon glyphicon-menu-hamburger toggle-nav__icon"></i></div>
<ul class="nav nav-pills nav-stacked issues__nav">
  {{#each issues}}
    <li role="presentation"><a href="/issues/{{this.slug}}">{{this.name}}</a></span></li>
  {{/each}}
</ul>
