<section class="module-container clearfix">

  <div class="module-col third">
    <div class="module fill centered white border-right">
      <div class="module__content">
        <div class="sign-up-form small">
          <h2>Join us for the future of our political movement.</h2>

          {{>signupform source="-module-small" url="https://ourrevolution-bernie16.bsd.net/page/s/join"}}
        </div>
      </div>
    </div>
  </div>

  <div class="module-col two-thirds">
    <div class="module fill centered tpp-bg" id="news-module-home">
      <div class="module__content">
        <div class="info">

          <span class="article-type">National TPP Call-In Day</span>
          <h1 class="module__heading">Join our push to stop the disastrous Trans-Pacific Partnership.</h1>

          <a href="/stop-tpp-now" class="btn btn-primary btn-block module__button">Join the Fight</a>
        </div>
      </div>
    </div>
  </div>

</section>
