<section class="module-container">
  <div class="module-col third">
    <div class="module full centered white border-right">
      <div class="module__content">
        <div class="sign-up-form small">
          <h2 class="module__heading">Join us for the future of our political movement.</h2>

          {{>signupform source="-module-small" url="https://go.ourrevolution.com/page/s/join"}}
        </div>
      </div>
    </div>
  </div>

  <div class="module-col two-thirds crowd-bg">
    <div class="module top centered dark-blue">
      <div class="module__content">
        <h3 class='module__heading'>Primaries Today</h3>
      </div>
    </div>

    <div class="module fill align-bottom align-middle connolly" id="connolly-module">
      <div class="module__content">
        <span class="sub-heading">MA 26 - State House</span>
        <p>Help Mike Connolly win his primary today.</p>
        <a href="http://wheredoivotema.com/bal/MyElectionInfo.aspx" target="_blank" class="btn btn-primary btn-block">Find Polling Place</a>
      </div>
    </div>

    <div class="module fill align-bottom align-middle jehlen" id="jehlen-module">
      <div class="module__content">
        <span class="sub-heading">MA 2 - State Senate</span>
        <p>Help Pat Jehlen win her primary today.</p>
        <a href="http://wheredoivotema.com/bal/MyElectionInfo.aspx" target="_blank" class="btn btn-primary btn-block">Find Polling Place</a>
      </div>
    </div>
  </div>

</section>
