<section class="module-container clearfix">

  <div class="module-col third">
    <div class="module fill centered white border-right">
      <div class="module__content">
        <div class="sign-up-form small">
          <h2>Join us for the future of our political movement.</h2>

          {{>signupform source="-module-small" url="https://go.ourrevolution.com/page/s/join"}}
        </div>
      </div>
    </div>

    <div class="module bottom centered dark-blue border-right">
      <div class="module__content">
        <div class="info">

          <h1 class="module__heading">Start Phone Banking for Our Revolution Today</h1>

          <a href="https://go.ourrevolution.com/page/content/phonebank/" class="btn btn-secondary btn-block module__button">Get Started</a>
        </div>
      </div>
    </div>
  </div>

  <div class="module-col two-thirds">
    <div class="module fill centered shailene-bg" id="news-module-home">
      <div class="module__content">
        <div class="info">

          <span class="article-type">Statement</span>
          <h1 class="module__heading">Our Revolution Statement on Board Member Shailene Woodley's Arrest</h1>

          <a href="/press/our-revolution-statement-on-shailene-woodley-arrest" class="btn btn-secondary btn-block module__button">Read More</a>
        </div>
      </div>
    </div>
  </div>

</section>
