<section class="module-container">
  <div class="module-col third crowd-bg">
    <div class="module top centered dark-blue">
      <div class="module__content">
        <h3 class='module__heading'>Upcoming Primaries</h3>
      </div>
    </div>

    <div class="module fill align-bottom connolly">
      <div class="module__content align-bottom">
        <span class="sub-heading">MA State Senate</span>
        <p>Help Mike Connolly win his primary on Thursday.</p>
        <a href="/candidates/mike-connolly" class="btn btn-primary btn-block">Get Involved</a>
      </div>
    </div>

    <div class="module fill align-bottom jehlen">
      <div class="module__content">
        <span class="sub-heading">MA State Senate</span>
        <p>Help Pat Jehlen win her primary on Thursday.</p>
        <a href="/candidates/pat-jehlen" class="btn btn-primary btn-block">Get Involved</a>
      </div>
    </div>
  </div>

  <div class="module-col two-thirds">
    <div class="module full centered white border-left">
      <div class="module__content">
        <div class="sign-up-form">
          <h2 class="module__heading">Join us for the future of our political movement.</h2>

          <form action="/signup" method="POST" enctype="application/x-www-form-urlencoded">
          {{#if error}}
            <div class="alert alert-danger" role="alert">{{error}}</div>
          {{/if}}

            <span class="form-group email">
              <label for="email">Email Address</label>
              <input type="email" name="email" id="email" class="email" placeholder="you@example.com">
            </span>

            <span class="form-group zip">
              <label for="zip">Zip Code</label>
              <input type="text" name="zip" id="zip" class="zip" placeholder="90210">
            </span>

            <span class="form-group submit">
              <button class="btn btn-secondary btn-block">Sign Up</button>
            </span>
          </form>
        </div>
      </div>
    </div>
  </div>

</section>
