<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand {{#if active.home}}active{{/if}} home" href="/">
        <img alt="Our Revolution" class="logo" src="/img/logo.svg">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav navbar-nav--centered">
        <li class="{{#if active.about}}active{{/if}} about"><a href="/about">About</a></li>
        <li class="{{#if active.action}}active{{/if}} action"><a href="/action">Take Action</a></li>
        <li class="{{#if active.issues}}active{{/if}} issues"><a href="/issues">Issues</a></li>
        <li class="{{#if active.candidates}}active{{/if}} candidates"><a href="/candidates">Candidates</a></li>
      </ul>
      <a href="https://secure.actblue.com/contribute/page/ourrevolution?refcode=main-nav&amount=27.00" class="pull-right btn btn-donate navbar-btn">Donate</a>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
