<div class="row">
  <div class="notification-banner">
    <div class="container">
      <span class="notification-banner__content">Our Revolution Stands with Dakota Access Pipeline Protesters </span> <a href="/press/our-revolution-stands-with-dakota-access-pipeline-protestors" class="btn btn-outline notification-banner__link" id="notification-banner">Read More</a>
    </div>
  </div>
</div>
