<div class="row">
  <div class="notification-banner">
    <div class="container">
      <span class="notification-banner__content">Phone Bank for Our Revolution</span> <a href="http://ourrev.us/phonebank" onclick="trackOutboundLink('http://ourrev.us/phonebank'); return false;" class="btn btn-outline notification-banner__link" id="notification-banner">Get Started</a>
    </div>
  </div>
</div>
