<div class="row">
  <div class="notification-banner">
    <div class="container">
      <span class="notification-banner__content">Founding Statement of Our Revolution Board of Directors</span> <a href="/press/founding-statement-of-our-revolution-board" class="btn btn-outline notification-banner__link" id="notification-banner">Read More</a>
    </div>
  </div>
</div>
