<div class="row">
  <div class="notification-banner">
    <div class="container">
      <span class="notification-banner__content">Give the Voters What They Want: A Substantive Discussion</span> <a href="/press/our-revolution-substantive-discussion" class="btn btn-outline notification-banner__link" id="notification-banner">Read More</a>
    </div>
  </div>
</div>
