<div class="row">
  <div class="notification-banner">
    <div class="container">
      <span class="notification-banner__content">Our Revolution Statement on Tulsa and Charlotte Police Shootings</span> <a href="/press/our-revolution-statement-on-shootings" class="btn btn-outline notification-banner__link" id="notification-banner">Read More</a>
    </div>
  </div>
</div>
