<div class="row">
  <div class="notification-banner">
    <div class="container">
      <span class="notification-banner__content">Our Revolution Congratulates State Sen. Pat Jehlen and Mike Connolly</span> <a href="/press/our-revolution-on-ma-primary-wins" class="btn btn-outline notification-banner__link" id="notification-banner">Read More</a>
    </div>
  </div>
</div>
