<div class="row">
  <div class="notification-banner">
    <div class="container">
      <span class="notification-banner__content">Our Revolution Announces Latest Round of Endorsements</span> <a href="/press/our-revolution-announces-latest-round-of-endorsements" class="btn btn-outline notification-banner__link" id="notification-banner">Read More</a>
    </div>
  </div>
</div>
