<!-- <div class="row"> -->
  <div class="notification-banner">
    <div class="container">
      <span class="notification-banner__content">Join our push to stop the disastrous Trans-Pacific Partnership</span> <a href="/stop-tpp-now" class="btn btn-outline notification-banner__link" id="notification-banner">Join the Fight</a>
    </div>
  </div>
<!-- </div> -->
