<form action="/volunteer-signup" method="POST" enctype="application/x-www-form-urlencoded">
  {{#if error}}
    <div class="alert alert-danger" role="alert">{{error}}</div>
  {{/if}}
  <span class="form-group email">
    <label for="email">Email Address</label>
    <input type="email" name="email" id="email" class="email" placeholder="you@example.com">
  </span>

  <span class="form-group first-name">
    <label for="first-name">First Name</label>
    <input type="text" name="firstName" id="first-name" class="first-name" placeholder="Jane">
  </span>

  <span class="form-group last-name">
    <label for="last-name">Last Name</label>
    <input type="text" name="lastName" id="last-name" class="last-name" placeholder="Doe">
  </span>

  <span class="form-group zip">
    <label for="zip">Zip Code</label>
    <input type="text" name="zip" id="zip" class="zip" placeholder="90210">
  </span>

  <span class="form-group phone">
    <label for="phone">Phone Number</label>
    <input type="tel" name="phone" id="phone" class="phone" placeholder="5554576142">
  </span>

  <span class="form-group submit">
    <button class="btn btn-primary btn-block">Join the Fight</button>
  </span>
</form>
