<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link rel='stylesheet' href='/components/bootstrap/dist/css/bootstrap.css' />
  <link rel="stylesheet" href="/css/style.css">
  {{#if ENV_DEVELOPMENT}}
    <script src="http://localhost:35729/livereload.js"></script>
  {{/if}}
</head>
<body>

  {{> nav}}

  <div class="container-fluid">
    {{{body}}}
  </div>

  <footer class="text-center">
    <div class="container">
      <div class="col-md-6 col-md-offset-3">
        <small>Paid for by Our Revolution. Our Revolution is a 501(c)(4) organization. Contributions to Our Revolution are not deductible as charitable contributions for Federal income tax purposes.</small>
      </div>
    </div>
  </footer>

  </body>
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.js"></script>

  {{#if active.about}}
    <script>
      $(document).ready(function() {
        var goals = {
          "revitalize" : "Our Revolution will revitalize American democracy by unifying the millions of people who got involved over the course of U.S. Senator Bernie Sanders’ presidential campaign in support of progressive causes. Our Revolution will give the people a major voice in the political system by activating supporters and engaging millions more Americans in the political process.",

          "empower": "Our Revolution will empower the next generation of progressive leaders by inspiring and recruiting progressive candidates to run for offices across the entire spectrum of government. From school boards to congressional seats, a new generation of political leaders, dedicated to transforming America’s corrupt campaign finance system and rigged economy, will become involved. Our Revolution will provide candidates inspired by the “political revolution,” with the unparalleled digital tools, organizing knowledge and grassroots support, which may include fundraising, successfully utilized throughout Senator Sanders’ campaign.",

          "elevate": "The corporate media has largely failed to cover the issues critical to the future of our country: from the devastating effects of climate change to the decline of the middle class. Our Revolution will educate the public about the most pressing issues confronting our nation and the bold solutions being offered. This effort will ensure that drowned out voices are heard and become an important part of the local, state and national dialogue."
        }

        $('.goals__title').on('click touchstart', function() {
          $('.goals__title').removeClass('active');
          $(this).addClass('active');

          $('.goals__description p').text(goals[$(this).data("value")]);
        });
      });
    </script>
  {{/if}}

  {{#if active.home}}
    <script>
      $(document).ready(function() {
        var keycode;

        $('.btn-amount').on('click touchstart', function(e) {
          e.preventDefault();
          $("input#amount").val(this.value);
          $('form#quick-donate').submit();
        });

        $('.input-amount').on('keyup', function(e) {
          keycode = (event.keyCode ? event.keyCode : event.which);

          $("input#amount").val(this.value);

          if(keycode == 13) {
            $('form#quick-donate').submit();
          }
        });
      });
    </script>
  {{/if}}
</html>
