<div class="row">
  <div class="container">
    <div class="page-heading">
      <h1>Our Ballot Initiatives</h1>
    </div>

    <div class="issues">
      <div class="col-md-3">
        {{> initiativesnav }}
      </div>
      <div class="col-md-9 issues__content">

        <h2>Alaska Measure 1: Voter Registration via the Permanent Fund Dividend Application</h2>

        <p>Our Revolution supports a YES vote to automatically register people to vote when they submit an application to receive an annual permanent fund dividend application, unless they opt out.</p>

        <p>Voter registration throughout our nation is an obstacle to voting.  Unlike nearly all other nations, states typically separate registration as a discrete activity and in doing so limit voting.  In Alaska, virtually all those eligible to vote apply for a dividend from the “oil fund.”  By linking the two actions, estimates are that as many as 50,000 additional voters will be registered, many of them Native Alaskans.</p>

        <p>This measure has broad support including allies from the labor, environmental, Native Alaskans, civil rights and citizen groups.</p>

        <div class="sign-up-form">
          <h3>Together we can continue this political movement.</h3>

          {{>signupform source="initiatives/alaska-measure-1" url="https://go.ourrevolution.com/page/s/initiatives-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
