<div class="row">
  <div class="container">
    <div class="page-heading">
      <h1>Our Ballot Initiatives</h1>
    </div>

    <div class="issues">
      <div class="col-md-3">
        {{> initiativesnav }}
      </div>
      <div class="col-md-9 issues__content">

        <h2>California Proposition 61: Drug Price Standards</h2>

        <p>Our Revolution supports a YES vote on the The California Drug Price Relief Act” (the “Act”). The statewide ballot measure addresses drug price-gouging by the pharmaceutical industry.</p>

        <p>Proposition 61, on the November ballot, would require the state of California to negotiate with drug companies for drug prices that are no more than is paid for the same drugs by the U.S. Department of Veterans Affairs (DVA).  Unlike Medicare, the DVA negotiates for drug prices on behalf of the millions of veterans it serves, and pays on average 20-24 percent less for medications than other government agencies, and up to 40 percent less than Medicare Part D.  Prop. 61 empowers the state, as the healthcare buyer for millions of Californians, to negotiate the same or an even better deal for taxpayers, saving the state billions.</p>

        <p>Proposition 61 has also been endorsed by AARP California, the California Nurses Association, the Urban League, AIDS Healthcare Foundation, the Campaign for a Healthy California and many others.</p>

        <a href="http://yeson61.com/" target="_blank" class="btn btn-secondary">More Information</a>

        <div class="sign-up-form">
          <h3>Together we can continue this political movement.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
