<div class="row">
  <div class="container">
    <div class="page-heading">
      <h1>Our Ballot Initiatives</h1>
    </div>

    <div class="issues">
      <div class="col-md-3">
        {{> initiativesnav }}
      </div>
      <div class="col-md-9 issues__content">

        <h2>California Proposition 62: Repeal of the Failed Death Penalty System</h2>

        <p>Our Revolution supports a YES on repealing the state death penalty and replace the maximum punishment for murder with life in prison without possibility of parole.</p>

        <p>In California, the death penalty system stopped working many years ago, but taxpayers continue to pay for it. No one has been executed in California in ten years. Since 1978, California taxpayers have paid $5 billion to maintain the death penalty and death row, and executed 13 people. That’s an average cost of more than $384 million per execution.</p>

        <p>It replaces a failed death penalty system with a strict life sentence, work, and restitution – saving taxpayers $150 million per year.</p>

        <p>It also ensures convicted murderers serve a strict life sentence in the general prison population. Victims’ families can rest assured knowing guilty inmates will never leave prison. Instead of maintaining an expensive death row with special treatment, Prop 62 requires first degree murderers to work and pay restitution to victims’ families. It ends a biased death penalty and guarantees California never executes an innocent person.</p>

        <a href="http://yeson62.com/about/" target="_blank" class="btn btn-secondary">More Information</a>

        <div class="sign-up-form">
          <h3>Together we can continue this poltical movement.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
