<div class="row">
  <div class="container">
    <div class="page-heading">
      <h1>Our Ballot Initiatives</h1>
    </div>

    <div class="issues">
      <div class="col-md-3">
        {{> initiativesnav }}
      </div>
      <div class="col-md-9 issues__content">

        <h2>Maryland: Citizens Election Fund</h2>

        <p>Our Revolution supports a YES on Election Day in November to create the new “Citizens’ Election Fund.”</p>

        <p>Communities across the county are coming together to explore a new way to get big money out of elections through voluntary programs which provide matching funds for candidates who seek small donations from their constituents and reject large and corporate contributions.</p>

        <p>These programs serve the dual purpose of limiting the power of big money in our elections and engaging the community in the electoral process. They also open doors to candidates from diverse backgrounds who have networks of supporters but limited access to the major donor networks needed to run. In states and cities across the country, these systems have allowed community leaders to run and win elected office free from the influence of lobbyists and big donors and accountable only to their constituents.</p>

        <a href="https://drive.google.com/open?id=0B5gQ5sHcfFREeGwxR3BXMHBwMWJkV1lya3pVWEZ1a0ktOVFr" target="_blank" class="btn btn-secondary">More Information</a>

        <div class="sign-up-form">
          <h3>Together we can continue this political movement.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
