<div class="row">
  <div class="container">
    <div class="page-heading">
      <h1>Our Ballot Initiatives</h1>
    </div>

    <div class="issues">
      <div class="col-md-3">
        {{> initiativesnav }}
      </div>
      <div class="col-md-9 issues__content">

        <h2>Washington Initiative 735:  “We the People”</h2>

        <p>Our Revolution supports a YES on “Restoring the Voice of We the People" Initiative (I-735), which would urge a federal constitutional amendment that limits constitutional rights to people, not corporations.</p>

        <p>The measure would urge the Washington state congressional delegation to propose a federal constitutional amendment clarifying that constitutional rights belong only to individuals, not corporations; that spending money is not free speech under the First Amendment; that governments are fully empowered to regulate political contributions and expenditures to prevent undue influence; and that political contributions and expenditures must be promptly disclosed to the public. The measure would urge the legislature to ratify such an amendment.</p>

        <a href="http://www.wamend.org/" target="_blank" class="btn btn-secondary">More Information</a>

        <div class="sign-up-form">
          <h3>Together we can continue this political movement.</h3>

          {{>signupform source="initiatives/washington-initiative-735" url="https://go.ourrevolution.com/page/s/initiatives-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
