<div class="container">
  <div class="page-heading">
    <h1>About Our Revolution</h1>
    <h3>Campaigns end. Revolutions endure.</h3>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="mission">
        <p>Our Revolution will reclaim democracy for the working people of our country by harnessing the transformative energy of the “political revolution.”  Through supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>

        <p>Our Revolution has three intertwined goals: to revitalize American democracy, empower progressive leaders and elevate the political consciousness.</p>
      </div>
    </div>

    <div class="goals col-md-6 col-md-offset-3">

      <div class="row">
        <div class="col-md-4 goals__title active" data-value="revitalize">Revitalize American Democracy</div>
        <div class="col-md-4 goals__title" data-value="empower">Empower Progressive Leaders</div>
        <div class="col-md-4 goals__title" data-value="elevate">Elevate Political Consciousness</div>
      </div>

      <div class="row">
        <div class="goals__description col-md-12">
          <p>Our Revolution will revitalize American democracy by unifying the millions of people who got involved over the course of U.S. Senator Bernie Sanders’ presidential campaign in support of progressive causes. Our Revolution will give the people a major voice in the political system by activating supporters and engaging millions more Americans in the political process.</p>
        </div>
      </div>

    </div>
  </div>
</div>
