<div class="container">
  <div class="page-heading">
    <h1>About Our Revolution</h1>
    <h3>Campaigns end. Revolutions endure.</h3>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <p class="mission">Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Maecenas faucibus mollis interdum.</p>

      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>

    </div>

    <div class="goals col-md-6 col-md-offset-3">

      <div class="row">
        <div class="col-md-4 goals__title active">Revitalize American Democracy</div>
        <div class="col-md-4 goals__title">Empower Progressive Leaders</div>
        <div class="col-md-4 goals__title">Elevate Political Consciousness</div>
      </div>

      <div class="row">
        <div class="goals__description col-md-12">
          <p>Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Sed posuere consectetur est at lobortis. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.</p>
        </div>
      </div>

    </div>
  </div>

  <div class="team"></div>
</div>
