<div class="row row--dark">
  <div class="container">
    <section class="module-container">
      <div class="col-md-4"></div>
      <div class="col-md-8"></div>
    </section>
  </div>
</div>

<div class="container">
  <h2>Our Events</h2>

  <div class="col-md-12">
  </div>
</div>
