<div class="row row--main">
  <div class="container">
    <section class="module-container clearfix">

      <div class="module--centered module--sign-up-main col-md-4">
        <div class="module__content">
          <h2>Stop the TPP</h2>
          <p>Together we can stop the disastrous Trans-Pacific Partnership</p>
          <a href="/stop-the-tpp" class='btn btn-secondary'>Take Action</a>
        </div>
      </div>

      <div class="module--centered module--volunteer col-md-8">
        <div class="module__content volunteer-form">
          <h2>Volunteer for the future of our political movement.</h2>

          <form action="/volunteer-signup" method="POST" enctype="application/x-www-form-urlencoded">
            {{#if error}}
              <div class="alert alert-danger" role="alert">{{error}}</div>
            {{/if}}
          	<span class="form-group email">
          		<label for="email">Email Address</label>
          		<input type="email" name="email" id="email" class="email" placeholder="you@example.com">
          	</span>

            <span class="form-group first-name">
          		<label for="first-name">First Name</label>
          		<input type="text" name="firstName" id="first-name" class="first-name" placeholder="Jane">
          	</span>

            <span class="form-group last-name">
          		<label for="last-name">Last Name</label>
          		<input type="text" name="lastName" id="last-name" class="last-name" placeholder="Doe">
          	</span>

          	<span class="form-group zip">
          		<label for="zip">Zip Code</label>
          		<input type="text" name="zip" id="zip" class="zip" placeholder="90210">
          	</span>

            <span class="form-group phone">
          		<label for="phone">Phone Number</label>
          		<input type="tel" name="phone" id="phone" class="phone" placeholder="5554576142">
          	</span>

            <span class="form-group submit">
            	<button class="btn btn-primary btn-block">Join the Fight</button>
            </span>
          </form>
        </div>
      </div>

    </section>
  </div>
</div>

<div class="row">
  <div class="container">
    <section class="home-section ballot-initiatives">
      <div class="col-md-6 col-md-offset-3">

      <h1>Our Ballot Initiatives</h1>

      <h3>Alaska Measure 1: Voter Registration via the Permanent Fund Dividend Application</h3>

      <p>Our Revolution supports a YES vote to automatically register people to vote when they submit an application to receive an annual permanent fund dividend application, unless they opt out.</p>

      <p>Voter registration throughout our nation is an obstacle to voting.  Unlike nearly all other nations, states typically separate registration as a discrete activity and in doing so limit voting.  In Alaska, virtually all those eligible to vote apply for a dividend from the “oil fund.”  By linking the two actions, estimates are that as many as 50,000 additional voters will be registered, many of them Native Alaskans.</p>

      <p>This measure has broad support including allies from the labor, environmental, Native Alaskans, civil rights and citizen groups.</p>

      <h3>California Proposition 61: Drug Price Standards</h3>

      <p>Our Revolution supports a YES vote on the The California Drug Price Relief Act” (the “Act”). The statewide ballot measure addresses drug price-gouging by the pharmaceutical industry.</p>

      <p>Proposition 61, on the November ballot, would require the state of California to negotiate with drug companies for drug prices that are no more than is paid for the same drugs by the U.S. Department of Veterans Affairs (DVA).  Unlike Medicare, the DVA negotiates for drug prices on behalf of the millions of veterans it serves, and pays on average 20-24 percent less for medications than other government agencies, and up to 40 percent less than Medicare Part D.  Prop. 61 empowers the state, as the healthcare buyer for millions of Californians, to negotiate the same or an even better deal for taxpayers, saving the state billions.</p>

      <p>Proposition 61 has also been endorsed by AARP California, the California Nurses Association, the Urban League, AIDS Healthcare Foundation, the Campaign for a Healthy California and many others.</p>

      <a href="http://yeson61.com/" target="_blank" class="btn btn-secondary">More Information</a>

      <h3>California Proposition 62: Repeal of the Failed Death Penalty System</h3>

      <p>Our Revolution supports a YES on repealing the state death penalty and replace the maximum punishment for murder with life in prison without possibility of parole.</p>

      <p>In California, the death penalty system stopped working many years ago, but taxpayers continue to pay for it. No one has been executed in California in ten years. Since 1978, California taxpayers have paid $5 billion to maintain the death penalty and death row, and executed 13 people. That’s an average cost of more than $384 million per execution.</p>

      <p>It replaces a failed death penalty system with a strict life sentence, work, and restitution – saving taxpayers $150 million per year.</p>

      <p>It also ensures convicted murderers serve a strict life sentence in the general prison population. Victims’ families can rest assured knowing guilty inmates will never leave prison. Instead of maintaining an expensive death row with special treatment, Prop 62 requires first degree murderers to work and pay restitution to victims’ families. It ends a biased death penalty and guarantees California never executes an innocent person.</p>

      <a href="http://yeson62.com/about/" target="_blank" class="btn btn-secondary">More Information</a>

      <h3>Washington Initiative 735:  “We the People”</h3>

      <p>Our Revolution supports a YES on “Restoring the Voice of We the People" Initiative (I-735), which would urge a federal constitutional amendment that limits constitutional rights to people, not corporations.</p>

      <p>The measure would urge the Washington state congressional delegation to propose a federal constitutional amendment clarifying that constitutional rights belong only to individuals, not corporations; that spending money is not free speech under the First Amendment; that governments are fully empowered to regulate political contributions and expenditures to prevent undue influence; and that political contributions and expenditures must be promptly disclosed to the public. The measure would urge the legislature to ratify such an amendment.</p>

      <a href="http://www.wamend.org/" target="_blank" class="btn btn-secondary">More Information</a>

      <h3>Colorado Amendment 69: ColoradoCare</h3>

      <p>Our Revolution supports a YES on ColoradoCare (Amendment 69).</p>

      <p>In 2015, volunteers all over the state of Colorado collected more than 150,000 signatures for a universal health care system, ColoradoCare, which made ballot this November as Amendment 69. This resident-owned, non-governmental health care financing system will be like Medicare for all Coloradans in ensuring quality comprehensive health care for everyone without deductibles for less than we pay now.</p>

      <p>Amendment 69 will ensure quality, accessible, lifetime health care for every Colorado resident. Premiums will be collected based on income, securing health care regardless of financial circumstance. This efficient, universal system would operate in the interests of Coloradans. By eliminating layers of bureaucracy and reducing administrative and other non-medical costs, ColoradoCare would cover all residents, cost less than the current system, and eliminate deductibles and co-pays for primary and preventative care.</p>

      <a href="http://www.coloradocare.org/?nosplash=true" class="btn btn-secondary" target="_blank">More Information</a>

      <h3>California Proposition 59:</h3>

      <p>California Proposition 59 opposes the Supreme Court ruling in Citizens United and states that “corporations should not have the same constitutional rights as human beings?”</p>

      <a href="http://www.moneyoutvotersin.org/prop_59" target="_blank" class="btn btn-secondary">More Information</a>

      <h3>Maryland: Citizens Election Fund</h3>

      <p>Our Revolution supports a YES on Election Day in November to create the new “Citizens’ Election Fund.”</p>

      <p>Communities across the county are coming together to explore a new way to get big money out of elections through voluntary programs which provide matching funds for candidates who seek small donations from their constituents and reject large and corporate contributions.</p>

      <p>These programs serve the dual purpose of limiting the power of big money in our elections and engaging the community in the electoral process. They also open doors to candidates from diverse backgrounds who have networks of supporters but limited access to the major donor networks needed to run. In states and cities across the country, these systems have allowed community leaders to run and win elected office free from the influence of lobbyists and big donors and accountable only to their constituents.</p>

      <a href="https://drive.google.com/open?id=0B5gQ5sHcfFREeGwxR3BXMHBwMWJkV1lya3pVWEZ1a0ktOVFr" target="_blank" class="btn btn-secondary">More Information</a>

      </div>
    </section>
  </div>

</div>
