<div class="row row--main">
  <div class="container">
    <section class="module-container">

      <div class="module-col third">
        <div class="module full centered white">
          <div class="module__content text-center">
            <h2>Stop the TPP</h2>
            <p>Together we can stop the disastrous Trans-Pacific Partnership</p>
            <a href="/stop-the-tpp" class='btn btn-secondary btn-block'>Take Action</a>
          </div>
        </div>
      </div>

      <div class="module-col two-thirds">
        <div class="module full centered dark-blue">
          <div class="module__content volunteer-form">
            <h2>Volunteer for the future of our political movement.</h2>

            {{>volunteersignupform}}
          </div>
        </div>
      </div>

    </section>
  </div>
</div>
