<div class="row row--dark">
  <div class="container">
    <section class="module-container clearfix">

      <div class="module--full">
        <h2>Join us for the future of our political movement.</h2>

        <form>
        	<span class="form-group email col-md-5">
        		<label for="email">Email Address</label>
        		<input type="email" name="email" id="email" class="email" placeholder="you@example.com">
        	</span>

        	<span class="form-group zip col-md-4">
        		<label for="zip">Zip Code</label>
        		<input type="text" name="zip" id="zip" class="zip" placeholder="90210">
        	</span>

          <span class="col-md-3">
          	<button class="btn btn-primary btn-block">Submit</button>
          </span>
        </form>
      </div>

    </section>
  </div>
</div>

<div class="container">
  <section class='home-section--info col-md-10 col-md-offset-1'>
    <div class='col-md-8'>
      <h2>It's time to get back to work.</h2>
      <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui. Cras mattis consectetur purus sit amet fermentum.</p>
    </div>

    <div class="col-md-4">
      <ul>
        <li>
          <h3>Take Action</h3>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </li>
        <li>
          <h3>Learn About the Issues</h3>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </li>
        <li>
          <h3>Explore Our Candidates</h3>
          <p>Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        </li>
      </ul>
    </div>
  </section>
</div>

<div class="row row--dark">
  <div class="container">
    <section class="home-section--news col-md-10 col-md-offset-1">
      <h2>News</h2>
      <div class="col-md-4">
        <h3>Purus Mollis Ligula Dolor</h3>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui.</p>
      </div>
      <div class="col-md-4">
        <h3>Purus Mollis Ligula Dolor</h3>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui.</p>
      </div>
      <div class="col-md-4">
        <h3>Purus Mollis Ligula Dolor</h3>
        <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec sed odio dui.</p>
      </div>
    </section>
  </div>
</div>

<div class="container">
  <section class="home-section--sign-up col-md-8 col-md-offset-2">
    <h2>Join us for the future of our political movement.</h2>

    <form>
    	<span class="form-group email col-md-5">
    		<label for="email">Email Address</label>
    		<input type="email" name="email" id="email" class="email" placeholder="you@example.com">
    	</span>

    	<span class="form-group zip col-md-4">
    		<label for="zip">Zip Code</label>
    		<input type="text" name="zip" id="zip" class="zip" placeholder="90210">
    	</span>

      <span class="col-md-3">
      	<button class="btn btn-primary btn-block">Submit</button>
      </span>
    </form>
  </section>
</div>

<div class="row row--dark">
  <section class="home-section--donate col-md-8 col-md-offset-2">
    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
  </section>
</div>
