<div class="row row--main home">
  <div class="container">
    {{>module-sign-up-three-candidates}}
  </div>
</div>

<div class="row">
  <div class="container">
    <section class='home-section--info col-md-10 col-md-offset-1'>
      <div class='col-md-8 col-md-offset-2'>
        <h2>It's time to get back to work.</h2>
        <p class="info__description">Our Revolution will reclaim democracy for the working people of our country by harnessing the transformative energy of the “political revolution.”  Through supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="action-list">
            <li class="action-list__action col-md-4">
              <a class="action__link" id="action-secondary-link" href="/action">
                <h3>Take Action</h3>
                <p class="action__description">Volunteer today and help continue our political revolution through grassroots organization.</p>
                <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
              </a>
            </li>
            <li class="action-list__action col-md-4">
              <a class="action__link" id="issues-secondary-link" href="/issues">
                <h3>Learn About the Issues</h3>
                <p class="action__description">Learn about the important issues facing our country today, and what you can do to fix them.</p>
                <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
              </a>
            </li>
            <li class="action-list__action col-md-4">
              <a class="action__link" id="candidates-secondary-link" href="/candidates">
                <h3>Explore Our Candidates</h3>
                <p class="action__description">Find out who will continue the political revolution, and what you can do to help them win.</p>
                <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row row--dark">
  <div class="container">
    <section class="home-section--news col-md-10 col-md-offset-1" id="news-section">
      <h2 class="section-heading">In the News</h2>
      <div class="col-md-4 content">
        <div class="news-item">
          <a href="/press/our-revolution-on-ma-primary-wins"><h4 class="content__heading">Our Revolution on Massachusetts Primary Wins</h4></a>
          <div class="attribution"><strong>Press Release</strong></div>
          <p class="content__copy">Our Revolution on Friday congratulated State Sen. Patricia Jehlen and Mike Connolly, candidates endorsed by the organization, for their Massachusetts primary victories...</p>
          <a href="/press/our-revolution-on-ma-primary-wins" class="content__btn btn btn-secondary">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
      <div class="col-md-4 content">
        <div class="news-item">
          <a href="/press/founding-statement-of-our-revolution-board"><h4 class="content__heading">Founding Statement of Our Revolution Board of Directors</h4></a>
          <div class="attribution"><strong>Press Release</strong></div>
          <p class="content__copy">Our Revolution on Wednesday released the following "founding statement," adopted unanimously by all 11 board members...</p>
          <a href="/press/founding-statement-of-our-revolution-board" class="content__btn btn btn-secondary">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
      <div class="col-md-4 content">
        <div class="news-item">
          <a href="/press/our-revolution-announces-second-round-of-endorsements" id="our-revolution-announces-second-round-of-endorsements-link"><h4 class="content__heading">Our Revolution Announces Second Round of Endorsements</h4></a>
          <div class="attribution"><strong>Press Release</strong></div>
          <p class="content__copy">Our Revolution on Wednesday announced its support for seven candidates running for positions in state legislatures and congressional seats around the country...</p>
          <a href="/press/our-revolution-announces-second-round-of-endorsements" class="content__btn btn btn-secondary" id="our-revolution-announces-second-round-of-endorsements-button">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="container">
    <section class="home-section--sign-up col-md-6 col-md-offset-3 sign-up-form">
      <h2>Join us for the future of our political movement.</h2>

      <form action="/signup" method="POST">
      	<span class="form-group email">
      		<label for="email">Email Address</label>
      		<input type="email" name="email" id="email" class="email" placeholder="you@example.com">
      	</span>

      	<span class="form-group zip ">
      		<label for="zip">Zip Code</label>
      		<input type="text" name="zip" id="zip" class="zip" placeholder="90210">
      	</span>

        <span class="form-group submit">
        	<button class="btn btn-primary btn-block">Submit</button>
        </span>
      </form>
    </section>
  </div>
</div>

<div class="row row--dark">
  <div class="container">
    <section class="home-section--donate col-md-6 col-md-offset-3">
      <h3>Donate to Our Revolution</h3>
      <p>Our Revolution is a non-profit that runs off of funds from contributors like you. Help us continue this movement.</p>
      <form id="quick-donate" class="quick-donate" action="https://secure.actblue.com/contribute/page/ourrevolution?amount=15" method="GET">
        <button type="button" class="btn btn-default btn-amount" value="15">$15</button>
        <button type="button" class="btn btn-primary btn-amount" value="27">$27</button>
        <button type="button" class="btn btn-default btn-amount" value="50">$50</button>
        <button type="button" class="btn btn-default btn-amount" value="100">$100</button>
        <input type="text" placeholder="$___" class="input-amount">
        <button class="btn btn-continue btn-secondary" id="donate-continue" type="submit">Continue <span class="glyphicon glyphicon-chevron-right"></span></button>
        <input type="hidden" name="amount" id="amount">
        <input type="hidden" name="refcode" id="refcode" value="home-bottom-donate">
      </form>
    </section>
  </div>
</div>
