<!-- {{>notification-bar}} -->

<div class="row row--main home">
  <div class="container">
    {{>module-sign-up-news-phonebank}}
  </div>
</div>

<div class="row">
  <div class="container">
    <section class='home-section--info col-md-10 col-md-offset-1'>
      <div class='col-md-8 col-md-offset-2'>
        <h2>It's time to get back to work.</h2>
        <p class="info__description">Our Revolution will reclaim democracy for the working people of our country by harnessing the transformative energy of the “political revolution.”  Through supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="action-list">
            <li class="action-list__action col-md-4">
              <a class="action__link" id="action-secondary-link" href="/action">
                <h3>Take Action</h3>
                <p class="action__description">Volunteer today and help continue our political revolution through grassroots organization.</p>
                <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
              </a>
            </li>
            <li class="action-list__action col-md-4">
              <a class="action__link" id="issues-secondary-link" href="/issues">
                <h3>Learn About the Issues</h3>
                <p class="action__description">Learn about the important issues facing our country today, and what you can do to fix them.</p>
                <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
              </a>
            </li>
            <li class="action-list__action col-md-4">
              <a class="action__link" id="candidates-secondary-link" href="/candidates">
                <h3>Explore Our Candidates</h3>
                <p class="action__description">Find out who will continue the political revolution, and what you can do to help them win.</p>
                <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row row--dark">
  <div class="container">
    <section class="home-section--news col-md-10 col-md-offset-1" id="news-section">
      <h2 class="section-heading">In the News</h2>
      <div class="col-md-4 content">
        <div class="news-item">
          <a href="/press/our-revolution-announces-more-endorsements"><h4 class="content__heading">Our Revolution Announces Latest Round of Endorsements</h4></a>
          <div class="attribution"><strong>Press Release</strong></div>
          <p class="content__copy">Our Revolution on Wednesday announced its support for nine candidates running for positions in local and state legislatures and congressional seats around the country. The organization previously endorsed 87 progressive candidates.</p>
          <a href="/press/our-revolution-announces-more-endorsements" class="content__btn btn btn-secondary">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
      <div class="col-md-4 content">
        <div class="news-item">
          <a href="/press/our-revolution-statement-on-shootings" id="our-revolution-statement-on-shootings-link"><h4 class="content__heading">Our Revolution Statement on Tulsa and Charlotte Police Shootings</h4></a>
          <div class="attribution"><strong>Statement</strong></div>
          <p class="content__copy">Keith Lamont Scott was a father of seven. Terence Crutcher was a father of four. They are just the two latest Black men in this country that have become hashtags—their names and faces shared by people around the country as we try to make sense of our feelings of grief, and of rage.</p>
          <a href="/press/our-revolution-statement-on-shootings" class="content__btn btn btn-secondary" id="our-revolution-statement-on-shootings-button">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
      <div class="col-md-4 content">
        <div class="news-item">
          <a href="/press/josh-fox-and-our-revolution-team-up"><h4 class="content__heading">Josh Fox and Our Revolution Team Up on #ClimateRevolution Rallies</h4></a>
          <div class="attribution"><strong>Press Release</strong></div>
          <p class="content__copy">Academy award-nominated documentary filmmaker Josh Fox and Our Revolution on Wednesday announced a series of #ClimateRevolution rallies, scheduled to take place in cities, towns and campuses across America this fall.</p>
          <a href="/press/josh-fox-and-our-revolution-team-up" class="content__btn btn btn-secondary">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="container">
    <section class="home-section--sign-up col-md-6 col-md-offset-3 sign-up-form">
      <h2>Join us for the future of our political movement.</h2>

      {{>signupform source="-secondary" url="https://go.ourrevolution.com/page/s/join"}}
    </section>
  </div>
</div>

<div class="row row--dark">
  <div class="container">
    <section class="home-section--donate col-md-6 col-md-offset-3">
      <h3>Donate to Our Revolution</h3>
      <p>Our Revolution is a non-profit that runs off of funds from contributors like you. Help us continue this movement.</p>
      {{>donateform}}
    </section>
  </div>
</div>
