{{>notification-bar}}

<div class="row row--main home">
  <div class="container">
    {{>module-sign-up-map-phonebank}}
  </div>
</div>

<div class="row">
  <div class="container">
    <section class='home-section--info col-md-10 col-md-offset-1'>
      <div class='col-md-8 col-md-offset-2'>
        <h2>It's time to get back to work.</h2>
        <p class="info__description">Our Revolution will reclaim democracy for the working people of our country by harnessing the transformative energy of the “political revolution.”  Through supporting a new generation of progressive leaders, empowering millions to fight for progressive change and elevating the political consciousness, Our Revolution will transform American politics to make our political and economic systems once again responsive to the needs of working families.</p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <ul class="action-list">
            <li class="action-list__action col-md-4">
              <a class="action__link" id="action-secondary-link" href="/action">
                <h3>Take Action</h3>
                <p class="action__description">Volunteer today and help continue our political revolution through grassroots organization.</p>
                <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
              </a>
            </li>
            <li class="action-list__action col-md-4">
              <a class="action__link" id="issues-secondary-link" href="/issues">
                <h3>Learn About the Issues</h3>
                <p class="action__description">Learn about the important issues facing our country today, and what you can do to fix them.</p>
                <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
              </a>
            </li>
            <li class="action-list__action col-md-4">
              <a class="action__link" id="candidates-secondary-link" href="/candidates">
                <h3>Explore Our Candidates</h3>
                <p class="action__description">Find out who will continue the political revolution, and what you can do to help them win.</p>
                <span class="glyphicon glyphicon-chevron-right hidden-md hidden-sm"></span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row row--dark">
  <div class="container">
    <section class="home-section--news col-md-10 col-md-offset-1" id="news-section">
      <h2 class="section-heading">In the News</h2>
      <div class="col-md-4 content">
        <div class="news-item">
          <a href="/press/our-revolution-substantive-discussion"><h4 class="content__heading">Give the Voters What They Want: A Substantive Discussion</h4></a>
          <div class="attribution"><strong>Press Release</strong></div>
          <p class="content__copy">One of the most valuable lessons Sen. Bernie Sanders and his presidential campaign taught us was that it's possible to have substantive debates and inspire people to engage in the political process-- and it can be done with respect and dignity.</p>
          <a href="/press/our-revolution-substantive-discussion" class="content__btn btn btn-secondary">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
      <div class="col-md-4 content">
        <div class="news-item">
          <a href="/press/our-revolution-statement-on-shailene-woodley-arrest"><h4 class="content__heading">Our Revolution Statement on Board Member Shailene Woodley's Arrest</h4></a>
          <div class="attribution"><strong>Statement</strong></div>
          <p class="content__copy">Our Revolution stands with board member Shailene Woodley following her arrest at Standing Rock Reservation protesting the Dakota Access Pipeline. We all have a duty to defend and protect sacred lands and waters for future generations.</p>
          <a href="/press/our-revolution-statement-on-shailene-woodley-arrest" class="content__btn btn btn-secondary">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
      <div class="col-md-4 content">
        <div class="news-item">
          <a href="/press/our-revolution-announces-final-round-of-endorsements"><h4 class="content__heading">Our Revolution Announces Final Round of 2016 Endorsements</h4></a>
          <div class="attribution"><strong>Press Release</strong></div>
          <p class="content__copy">Our Revolution on Wednesday announced its support for ten candidates running for positions in local and state legislatures and congressional seats around the country.</p>
          <a href="/press/our-revolution-announces-final-round-of-endorsements" class="content__btn btn btn-secondary">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="row">
  <div class="container">
    <section class="home-section--sign-up col-md-6 col-md-offset-3 sign-up-form">
      <h2>Join us for the future of our political movement.</h2>

      {{>signupform source="-secondary" url="https://go.ourrevolution.com/page/s/join"}}
    </section>
  </div>
</div>

<div class="row row--dark">
  <div class="container">
    <section class="home-section--donate col-md-6 col-md-offset-3">
      <h3>Donate to Our Revolution</h3>
      <p>Our Revolution is a non-profit that runs off of funds from contributors like you. Help us continue this movement.</p>
      {{>donateform}}
    </section>
  </div>
</div>
