<div class="row">
  <div class="container">
    <div class='page-heading'>
      {{> issuesheading}}
    </div>

    <div class="issues">
      <div class="col-md-3 issues__nav">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Fighting to Lower Prescription Drug Prices</h2>
        <p>Americans pay, by far, the highest prices for prescription drugs in the entire world. When we talk about health care, we are talking about the need of the American people to be able to afford the medicine their health care providers prescribe. A life-saving drug does no good if the people who need it cannot afford that drug.</p>

        <p>Yet, last year, nearly one in five Americans between the ages of 19 and 64 – 35 million people – did not get their prescriptions filled because they did not have enough money. In the wealthiest country in the history of the world, Americans should not have to live in fear that they will go bankrupt or die because they cannot afford to take the medication they need.</p>

        <p>In any given month, more than half of all American adults take at least one prescription drug. There is no question that medicines help millions of people live healthier and longer lives, and can also prevent more expensive illnesses and treatments. However, it is unacceptable that the United States now spends more than $370 billion on prescription drugs and spending is rising faster than at any point in the last decade.</p>

        <p>Instead of listening to the demands of the pharmaceutical industry and their 1,400 lobbyists, it is time that Congress started listening to the American people, who overwhelmingly believe that the cost of medication is too expensive. More than 70 percent of Americans believe drug costs are unreasonable and that drug companies are putting profits before people.</p>

        <div class="sign-up-form">
          <h3>Together we can lower drug prices.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
