<div class="row">
  <div class="container">
    <div class='page-heading'>
      {{> issuesheading}}
    </div>

    <div class="issues">
      <div class="col-md-3 issues__nav">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Big Money in Politics</h2>

        <p>Six years ago, as a result of the disastrous Citizens United Supreme Court decision, by a 5-to-4 vote, the U.S. Supreme Court essentially said to the wealthiest people in this country:  you already own much of the American economy.  Now, we are going to give you the opportunity to purchase the U.S. Government, the White House, the U.S. Senate, the U.S. House, Governors’ seats, legislatures, and State judicial branches as well.</p>

        <p>The Citizens United decision hinges on the absurd notion that money is speech, corporations are people, and giving huge piles of undisclosed cash to politicians in exchange for access and influence does not constitute corruption.</p>

        <p>During this campaign cycle, billions of dollars from the wealthiest people in this country are already flooding the political process.  Super PACs – a direct outgrowth of the Citizens United decision – are enabling the wealthiest people and the largest corporations in this country to contribute unlimited amounts of money to campaigns.</p>

        <p>The situation has become so absurd that super PACs, which theoretically operate independently of the actual candidates, have more money and more influence over campaigns than the candidates themselves.</p>

        <p>We know, for example, that the Koch brothers, the second wealthiest family in America, have made public that they and their network intend to spend at least $750 million on politics during this election. This is more money than either the Democratic Party or the Republican Party will spend.</p>

        <p>Let’s be honest and acknowledge what we are talking about. We are talking about a rapid movement in this country toward a political system in which a handful of very wealthy people and special interests will determine who gets elected or who does not get elected. That is not what this country is supposed to be about. That was not Abraham Lincoln’s vision of a government of the people, by the people, and for the people.</p>

        <p>As former President Jimmy Carter recently said, unlimited money in politics, “violates the essence of what made America a great country in its political system. Now, it’s just an oligarchy, with unlimited political bribery being the essence of getting the nominations for president or to elect the president. And the same thing applies to governors and U.S. Senators and congress members. So now we’ve just seen a complete subversion of our political system as a payoff to major contributors, who want and expect and sometimes get favors for themselves after the election’s over.”</p>

        <p>The need for real campaign finance reform is not a progressive issue. It is not a conservative issue. It is an American issue. It is an issue that should concern all Americans, regardless of their political point of view, who wish to preserve the essence of the longest standing democracy in the world, a government that represents all of the people and not a handful of powerful and wealthy special interests.</p>

        <p>Real campaign finance reform must happen as soon as possible. That is why we must overturn, through a constitutional amendment, the disastrous Citizens United Supreme Court decision as well as the Buckley v. Valeo decision. That is why we need to pass legislation to require wealthy individuals and corporations who make large campaign contributions to disclose where their money is going.  More importantly, it is why we need to move toward the public funding of elections.</p>

        <p>Our vision for American democracy should be a nation in which all people, regardless of their income, can participate in the political process, can run for office without begging for contributions from the wealthy and the powerful.</p>

        <p>Our vision for the future of this country should be one in which candidates are not telling billionaires at special forums what they can do for them.</p>

        <p>Our vision for democracy should be one in which candidates are speaking to the vast majority of our people – working people, the middle class, low-income people, the elderly, the children, the sick, and the poor – and discussing with them their ideas as to how we can improve lives for all of the people in this country.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li>Only appoint Supreme Court justices who will make it a priority to overturn Citizens United and who understand that corruption in politics means more than just quid pro quo.</li>

          <li>Fight to pass a constitutional amendment making it clear that Congress and the states have the power to regulate money in elections.</li>

          <li>Fight for a publicly financed, transparent system of campaign financing that amplifies small donations, along the lines of the Fair Elections Now Act.</li>

          <li>Insist on complete transparency regarding the funding of campaigns, including through disclosure of contributions to outside spending groups, via legislation, action by the Securities and Exchange Commission, Federal Election Commission, and Federal Communication Commission, and an executive order requiring government contractors to disclose their political spending.</li>

          <li>Fight to eliminate super PACs and other outside spending abuses.</li>

          <li>Work to aggressively enforce campaign finance rules.</li>

          <li>Getting big money out of politics is vital, but much more needs to be done to restore our democracy.  Notably, we must ensure that all Americans are guaranteed an effective right to vote.  Campaign finance reform must be accompanied by efforts to strengthen voting rights – restoring the full protections of the Voting Rights Act, expanding early voting and vote-by-mail, implementing automatic voter registration, ending gerrymandering and making Election Day a national holiday, among others. When nearly two-thirds of the electorate did not vote in 2014 midterm elections, it is clear we need radical change to bring more people into the political system. Our democracy cannot be truly representative unless elected officials hear from all of their constituents, not just the wealthy and the powerful.</li>

          <li>Returning to a government of, by, and for the people – not the billionaires and giant corporations – will not be easy. We need not some, but all of the measures highlighted here. We won’t be able to accomplish these on our own. They will require agreement of Congress or, in the case of a constitutional amendment, two-thirds of the Congress and three-quarters of the states. We’re going to get there by building and continuing a movement – a movement with enough power not only to insist that all of our elected representatives return power to the people, a movement that not only identifies the deep corruption of our politics but rejects cynicism and instead insists on solutions, action and accountability.</li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can overturn Citizen's United.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
