<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Fighting for Affordable Housing</h2>
        <p>While the housing market has improved since the worst days of the housing meltdown and recession, millions of Americans remain underwater with their mortgages and millions more can’t get a loan to buy a house. On the rental side, more than 7 million households lack access to adequate affordable housing, with many facing a daily choice between housing, food, and healthcare. Meanwhile, many working families, veterans, the mentally ill and the poor are living in their cars, in homeless shelters, or simply out on the street. That is unacceptable.</p>

        <p>Working together, this is what we need to do to address the affordable housing crisis.</p>

        <p>It is no secret that millions of families are struggling economically. Meanwhile, decent and affordable rental apartments are hard to come by, and millions of households are spending 50 percent or more of their income on housing. According to the National Low Income Housing Coalition, 7.1 million American households cannot find affordable housing. That is unacceptable.</p>

        <p>Owning a home remains one of the best ways for families to build wealth and enter the middle class. However, for decades, wages have not kept up with the median costs of homes, putting homeownership out of reach for millions of families. The housing crisis that began in 2007 wiped-out the entire household wealth of millions of families, particularly African-American and Latino families who were disproportionately targeted with sub-prime mortgages and had most of their wealth in their homes – the net worth of African-American households fell by more than 50 percent and Latino families by more than 65 percent. We must take aggressive steps to make homeownership more attainable for first time homebuyers, as well as for the millions of families across the country who lost their homes to foreclosure.</p>

        <h3>Helping Underwater Homeowners</h3>
        <p>For millions of American families, and for many hard hit communities, the housing crisis is not over. According to the real estate firm CoreLogic, 4.3 million homeowners still owe more than their houses are worth. While the taxpayers of this country, against my strong opposition, bailed out the largest financial institutions in this country with no strings attached, we have never provided an adequate lifeline to underwater homeowners. While Treasury’s Home Affordable Modification Program has helped more than 1.5 million homeowners avoid foreclosure, and the Hardest Hit Fund has assisted another 250,000 ‎homeowners, these are a fraction of the households that were, or are, underwater.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li>Expand the National Affordable Housing Trust Fund. We need to fight to increase funding for the National Affordable Housing Trust Fund to at least $5 billion a year in order to construct, preserve, and rehabilitate at least 3.5 million affordable housing rental units over the next decade. Not only will this help address the affordable housing crisis, it will also create millions of good paying jobs in the process.</li>

          <li>Raise the minimum wage. According to the National Low Income Housing Coalition (NLIHC), a renter would need to earn a wage of $19.35 per hour in order to afford a modest, two-bedroom apartment in the U.S. One way to start closing the wage/rent gap is to raise the minimum wage to $15 an hour by 2020.</li>

          <li>Reinvigorate federal housing production programs. Over the past decade, the federal programs that build affordable housing for families, for the elderly and for the disabled have been decimated. Nobody disagrees that we need to address the deficit, but it is absurd to balance the budget on the backs of working families, the elderly, the disabled and the poor. We must return to pre-2010 funding levels by ending sequestration and invest more, not less, in affordable housing.</li>

          <li>Defend Fair Housing. The sordid history of housing discrimination is a stain on our collective conscious, and for fifty years the Fair Housing Act has provided critically important legal protection from discrimination because of race, color, national origin, religion, sex or disability. And yet, Republicans have tried over and over again to defund efforts to affirmatively promote fair housing. We must push back, defend and strengthen the law, and make sure we never again tacitly condone housing discrimination.</li>

          <li>Demand more from Affordable Housing Developers. Housing that is built with government subsidies should remain affordable much longer than the 10, 15 or 20 years typically required by federal housing programs.</li>

          <li>Repair Public Housing. We need sufficient funding for public housing operating and capital costs, and we need to reduce the unacceptable backlog of public housing capital needs.</li>

          <li>Protect Rental Assistance. We need to provide full funding to all existing project based rental assistance contracts.</li>

          <li>Expand Housing Choice Initiative. We need to increase funding for the housing choice voucher program to target families who need support the most and to provide greater economic stability to the more than 3 million households struggling to remain in safe, secure and affordable housing today.</li>
        </ul>

        <h3>Promoting Homeownership</h3>
        <ul class="solution-list">
          <li>Support First Time Homebuyers. We should expand the Department of Housing and Urban Development and USDA Rural Development assistance programs for first time homeownership, particularly through down payment assistance, loan guarantees and direct loans.</li>

          <li>Expand Pre-purchase Housing Counseling. Study after study shows that people who receive counseling before buying a home are more likely to succeed at homeownership. Housing counseling is a good investment in families and communities.</li>

          <li>Implement Credit Score Reform. The credit scores of millions of families have been ruined because of foreclosures or other financial hardships from the economic meltdown. At the same time, a prime score before the crisis was 640. It currently hovers around 740. If we want to rebuild the lost wealth of working families, we need real credit score reform to make the banking and credit industries work for borrowers and not just lenders.</li>

          <li>Prevent Predatory Lending. We need to work toward requiring that all mortgage costs are clear, risks are visible, and nothing is buried in fine print, the CFBP makes sure consumers have the information they need to make good financial decisions.</li>

          <li>Protect Homeowner Mortgage Interest Benefits. We need to support tax policies that promote homeownership, and opposes any reform that would negatively impact middle and low-income homeowners. We need to close the second home and yacht loophole, as there is simply no compelling public interest in subsidizing second homes and yachts. We also need to expand homeowner mortgage interest benefits to the 19 million otherwise eligible homeowners who do not itemize their taxes.</li>
        </ul>

        <h3>Helping Underwater Homeowners</h3>
        <ul class="solution-list">
          <li>Reinvigorate HARP. The Home Affordable Refinance Program was designed to assist homeowners who are current on their mortgage payments but owe more than their home is worth, by allowing them to refinance their underwater mortgages at lower interest rates. While the average homeowner saves about $2,500 per year, many people who theoretically qualify have not benefitted because of various barriers and inadequate outreach.</li>

          <li>Expand Foreclosure Mitigation Counseling. Just as pre-purchase homeownership counseling works for prospective homebuyers, we need to expand National Foreclosure Mitigation Counseling programs to help underwater homeowners. Studies have shown that underwater homeowners who receive counselling are far more likely to cure a serious delinquency or foreclosure, and stay current after obtaining a cure. The best solution is to keep homeowners in their homes.</li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can fight for affordable housing.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
