<div class="container">
  <div class='page-heading'>
    <h1>{{title}}</h1>
    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec ullamcorper nulla non metus auctor fringilla. Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
  </div>

  <div class="col-md-10 col-md-offset-1 issues">
    <div class="col-md-4 issues__nav">
      <ul class="nav nav-pills nav-stacked">
        <li role="presentation" class="active"><a href="#">Income Inequality</a></li>
        <li role="presentation"><a href="#">Nullam Tortor</a></li>
        <li role="presentation"><a href="#">Nullam Tortor</a></li>
        <li role="presentation"><a href="#">Nullam Tortor</a></li>
        <li role="presentation"><a href="#">Nullam Tortor</a></li>
        <li role="presentation"><a href="#">Nullam Tortor</a></li>
        <li role="presentation"><a href="#">Nullam Tortor</a></li>
      </ul>
    </div>
    <div class="col-md-8 issues__content">
      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Maecenas sed diam eget risus varius blandit sit amet non magna. Aenean lacinia bibendum nulla sed consectetur. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Nullam quis risus eget urna mollis ornare vel eu leo. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.</p>
    </div>
  </div>
</div>
