<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Income and Wealth Inequality</h2>
        <p>Today, we live in the richest country in the history of the world, but that reality means little because much of that wealth is controlled by a tiny handful of individuals.</p>

        <p>The issue of wealth and income inequality is the great moral issue of our time, it is the great economic issue of our time, and it is the great political issue of our time.</p>

        <p>The reality is that since the mid-1980s there has been an enormous transfer of wealth from the middle class and the poor to the wealthiest people in this country. That is the Robin Hood principle in reverse. That is unacceptable and that has got to change.</p>

        <p>Despite huge advancements in technology and productivity, millions of Americans are working longer hours for lower wages. The real median income of male workers is $783 less than it was 42 years ago; while the real median income of female workers is over $1,300 less than it was in 2007. That is unacceptable and that has got to change.</p>

        <p>There is something profoundly wrong when one family owns more wealth than the bottom 130 million Americans.</p>

        <p>The reality is that for the past 40 years, Wall Street and the billionaire class has rigged the rules to redistribute wealth and income to the wealthiest and most powerful people of this country.</p>

        <p>Our Revolution is sending a message to the billionaire class: “you can’t have it all.” You can’t get huge tax breaks while children in this country go hungry. You can’t continue sending our jobs to China while millions are looking for work. You can’t hide your profits in the Cayman Islands and other tax havens, while there are massive unmet needs on every corner of this nation. Your greed has got to end. You cannot take advantage of all the benefits of America, if you refuse to accept your responsibilities as Americans.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li>Demanding that the wealthy and large corporations pay their fair share in taxes. Stop corporations from shifting their profits and jobs overseas to avoid paying U.S. income taxes. Create a progressive estate tax on the top 0.3 percent of Americans who inherit more than $3.5 million. Enact a tax on Wall Street speculators who caused millions of Americans to lose their jobs, homes, and life savings.</li>
          <li>Increasing the federal minimum wage from $7.25 to $15 an hour by 2020. In the year 2015, no one who works 40 hours a week should be living in poverty.</li>
          <li>Putting at least 13 million Americans to work by investing $1 trillion over five years towards rebuilding our crumbling roads, bridges, railways, airports, public transit systems, ports, dams, wastewater plants, and other infrastructure needs.</li>
          <li>Reversing trade policies like NAFTA, CAFTA, and PNTR with China that have driven down wages and caused the loss of millions of jobs. If corporate America wants us to buy their products they need to manufacture those products in this country, not in China or other low-wage countries.</li>
          <li>Creating 1 million jobs for disadvantaged young Americans by investing $5.5 billion in a youth jobs program. Today, the youth unemployment rate is off the charts. We have got to end this tragedy by making sure teenagers and young adults have the jobs they need to move up the economic ladder.</li>
          <li>Fighting for pay equity by signing the Paycheck Fairness Act into law. It is an outrage that women earn just 78 cents for every dollar a man earns.</li>
          <li>Making tuition free at public colleges and universities throughout America. Everyone in this country who studies hard should be able to go to college regardless of income.</li>
          <li>Expanding Social Security by lifting the cap on taxable income above $250,000. At a time when the senior poverty rate is going up, we have got to make sure that every American can retire with dignity and respect.</li>
          <li>Guaranteeing healthcare as a right of citizenship by enacting a Medicare for all single-payer healthcare system. It’s time for the U.S. to join every major industrialized country on earth and provide universal healthcare to all.</li>
          <li>Requiring employers to provide at least 12 weeks of paid family and medical leave; two weeks of paid vacation; and 7 days of paid sick days. Real family values are about making sure that parents have the time they need to bond with their babies and take care of their children and relatives when they get ill.</li>
          <li>Enacting a universal childcare and prekindergarten program. Every psychologist understands that the most formative years for a human being is from the ages 0-3. We have got to make sure every family in America has the opportunity to send their kids to a high quality childcare and pre-K program.</li>
          <li>Making it easier for workers to join unions by fighting for the Employee Free Choice Act. One of the most significant reasons for the 40-year decline in the middle class is that the rights of workers to collectively bargain for better wages and benefits have been severely undermined.</li>
          <li>Breaking up huge financial institutions so that they are no longer too big to fail. Seven years ago, the taxpayers of this country bailed out Wall Street because they were too big to fail. Yet, 3 out of the 4 largest financial institutions are 80 percent bigger today than before we bailed them out. We need to fight to get this legislation signed into law.</li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can reduce income inequality.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
