<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Fighting for LGBT Equality</h2>
        <p>The United States has made remarkable progress on gay rights in a relatively short amount of time. But there is still much work to be done.</p>

        <p>In many states, it is still legal to fire someone for being gay. It is legal to deny someone housing for being transgender. That is unacceptable and must change. We must end discrimination in all forms.</p>

        <p>We must also establish equal pay for women. It’s unconscionable that women earn less than men for performing the same work.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li>Sign into law the Equality Act, the Every Child Deserves a Family Act, and any other bill that prohibits discrimination against LGBT people.</li>

          <li>Work with HHS to ensure LGBT Americans have access to comprehensive health insurance which provides appropriate coverage and do not have to fear discrimination or mistreatment from providers.</li>

          <li>Continue the great work of the State Department’s Special Envoy for LGBT Rights and ensure the United States helps protect the rights of LGBT people around the world.</li>

          <li>Advance policies to ensure students can attend school without fear of bullying, and work to reduce suicides.</li>

          <li>Require police departments to adopt policies to ensure fairer interactions with transgender people, especially transgender women of color who are often targeted by police unfairly, and institute training programs to promote compliance with fair policies.</li>

          <li>Bar discrimination against LGBT people by creditors and banks so that people will not be unfairly denied mortgages, credit cards, or student loans.</li>

          <li>Veto any legislation that purports to “protect” religious liberty at the expense of others’ rights.</li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can fight for LGBT equality.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
