<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3 issues__nav">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Minimum Wage</h2>
        <p>Millions of Americans are working for totally inadequate wages. We must ensure that no full-time worker lives in poverty. The current federal minimum wage is starvation pay and must become a living wage. We must increase it to $15 an hour over the next several years.</p>

        <p>We must also establish equal pay for women. It’s unconscionable that women earn less than men for performing the same work.</p>

        <p>Millions of American employees have been working 50 or 60 hours a week while receiving no overtime pay. The Administration’s new rule extending that protection to everyone making less than $947 a week is a step in the right direction. It is a win for our economy and for our workers.</p>

        <p>Lastly, we must support and strengthen the labor movement to ensure that workers have a say in their own economic futures. We need to support the Employee Free Choice Act, which would make it easier for workers to organize and bargain collectively.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li>Fight for a national $15 per hour minimum wage and a union for fast food workers, and federal contract workers.</li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can fight for a living wage.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
