<div class="row row--colored">
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <section class="home-section">
        <div class="featured-action">

          <h1>Here's How We Stop the TPP</h1>

          <p>On August 12 The White House provided the required 30 day notice of intent to ask for a mandatory up or down vote under Fast Track any time Congress is in session after Sept 12. Based on the Congressional calendar, this could be any meeting day through September 30 or when Congress returns on November 14. If Congress receives the TPP before September 30 a vote must be scheduled before the end of the year. If the President waits until after the election the Republican House or Senate leadership could decide to run out the clock and avoid a vote.</p>

          <p>If adopted, TPP is forever, and cannot be renegotiated unless all 12 nations agree to any changes. It is urgent that we mobilize now or we will not have time to activate the huge coalition opposing it.</p>

        </div>
      </section>
    </div>
  </div>
</div>

<div class="row">
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
      <section class="home-section">
        <h1>Here's Where You Come In</h1>

        <h3>1. Call voters in key congressional districts now.</h3>

        <p>We will be organizing phone calling into key districts to alert voters that their member of Congress has not spoken out opposing TPP and asking for their help.</p>

        <p>We need volunteers to help with those calls so please fill out the action form below.</p>

        <h3>2. Join the national call day on September 14th.</h3>
        <p>On September 14th we will ask everyone possible to call their members of Congress and voice their opposition to TPP.</p>

        <h3>3. Join us in a national day of action on October 1.</h3>
        <p>We will be joining with partners in a national day of action against TPP on or around October 1, when members of Congress return home to campaign through November 13. We will post more on the Our Revolution website as the day of action develops.</p>

        <h3>4. Attend Events</h3>
        <p>Senator Sanders will be highlighting opposition to TPP when he campaigns for progressive candidates in the weeks ahead.  Attend an event if you can and bring a stop the TPP sign.</p>

        <p>Together we can stop TPP and fight for a fair trade agenda that is  focused on protecting our jobs, our communities and our planet, not on guaranteeing corporate profits to encourage foreign investment.  We have had 25 years of corporate trade deals and enough is enough!</p>
      </section>
    </div>

    <div class="col-md-8 col-md-offset-2">
      <div class="sign-up-form sign-up-form--blue">
        <h2>Together we can stop the TPP</h2>
        {{>signupform}}
      </div>
    </div>
  </div>
</div>
