.navbar-header, .navbar-btn {
  z-index: 9;
  position: relative; }

.navbar-default {
  margin-bottom: 0;
  background: white; }

.nav-pills > li > a {
  background: #eee;
  margin-bottom: 10px; }
  .nav-pills > li > a:hover {
    background: #d5d5d5; }

.btn-primary,
.btn-primary:visited {
  background-color: #58ea22;
  color: white;
  border: 1px solid #58ea22;
  outline: none; }

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover {
  background-color: #46cf14;
  color: white;
  border: 1px solid #46cf14;
  outline: none; }

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  border: 1px solid #3baf11;
  color: white;
  border: none;
  outline: none; }

.btn-secondary,
.btn-secondary:visited {
  background-color: #53A2F2;
  color: white;
  border: none;
  outline: none; }

.btn-secondary:hover,
.btn-secondary:active:hover,
.btn-secondary.active:hover {
  background-color: #2488ee;
  color: white;
  border: none;
  outline: none; }

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #117ce7;
  color: white;
  border: none;
  outline: none; }

.btn-donate,
.btn-donate:visited {
  background-color: #F43737;
  color: white;
  border: none;
  outline: none; }

.btn-donate:hover,
.btn-donate:active:hover,
.btn-donate.active:hover {
  background-color: #eb0d0d;
  color: white;
  border: none;
  outline: none; }

.btn-donate:focus,
.btn-donate.focus,
.btn-donate:active,
.btn-donate.active {
  background-color: #d30c0c;
  color: white;
  border: none;
  outline: none; }

input {
  border-radius: 3px;
  border: 1px solid #ccc; }

@media (min-width: 768px) {
  .navbar-nav--centered {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0; }
    .navbar-nav--centered > li {
      float: none;
      display: inline-block; } }
html {
  position: relative;
  min-height: 100%; }

body {
  padding-top: 50px;
  margin-bottom: 100px; }

.row--dark {
  background: #eee; }

.page-heading {
  background: #eee;
  border-radius: 3px;
  padding: 20px;
  margin: 10px 0;
  vertical-align: bottom; }
  .page-heading h1 {
    margin: 100px 0 5px 0; }
  .page-heading h3 {
    margin-top: 0;
    font-weight: normal; }
  .page-heading p {
    max-width: 600px; }

.dark {
  background: #fafafa; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #f5f5f5; }

.content {
  background: white;
  border-radius: 3px;
  padding: 20px; }
  .content .content__heading {
    margin-top: 0; }
  .content .content__copy {
    flex: 1; }
  .content .content__btn {
    display: block; }

.navbar-brand {
  padding: 10px; }
  .navbar-brand .logo {
    height: 30px; }

@media (min-width: 768px) {
  body {
    padding-top: 80px; }

  .navbar-brand {
    padding: 15px; }

  .navbar .logo {
    height: 50px;
    width: auto;
    transition: 0.25s; }
    .navbar .logo:hover {
      transform: scale(1.1); }

  .navbar {
    height: 80px; }

  .navbar-default .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px; }

  .navbar .btn-donate.navbar-btn {
    margin-top: 17px;
    margin-bottom: 17px;
    padding: 12px 18px; } }
.module-container {
  background: white;
  border-radius: 3px;
  margin: 10px 0;
  height: 600px;
  display: flex; }

.module, .module--centered {
  height: 100%; }
  .module h1, .module--centered h1, .module h2, .module--centered h2, .module h3, .module--centered h3 {
    margin-top: 0; }
  .module--centered {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .module__content {
    padding: 20px;
    max-width: 600px; }
  .module--two-thirds--full {
    width: 66%;
    float: left; }
  .module--one-third--full {
    width: 34%;
    float: left;
    background: #eee;
    height: 100%; }

@media (max-width: 991px) {
  .module-container .sign-up-form .form-group {
    margin-bottom: 10px; }
    .module-container .sign-up-form .form-group.email {
      width: 60%; }
    .module-container .sign-up-form .form-group.zip {
      width: 36%;
      margin-right: 0; }
    .module-container .sign-up-form .form-group.submit {
      display: block;
      width: 100%; } }
@media (max-width: 767px) {
  .module-container {
    height: auto;
    flex-flow: row wrap; }
    .module-container .module--centered {
      flex: 0 0 100%;
      padding: 20px; }

  .navbar .btn-donate {
    display: block;
    width: 100%;
    float: none !important; } }
.sign-up-form .form-group {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 0; }
  .sign-up-form .form-group:last-child {
    margin-right: 0; }
  .sign-up-form .form-group.email {
    width: 48%; }
  .sign-up-form .form-group.zip {
    width: 26%; }
  .sign-up-form .form-group.submit {
    width: 20%; }
.sign-up-form input {
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  width: 100%; }
.sign-up-form label {
  display: block;
  font-size: 12px;
  font-weight: normal; }
.sign-up-form button {
  height: 40px;
  width: 100%; }

@media (max-width: 520px) {
  .sign-up-form .form-group {
    margin-bottom: 10px; }
    .sign-up-form .form-group.email {
      width: 60%; }
    .sign-up-form .form-group.zip {
      width: 36%;
      margin-right: 0; }
    .sign-up-form .form-group.submit {
      display: block;
      width: 100%; } }
.home-section, .home-section--sign-up, .home-section--info, .home-section--news, .home-section--donate {
  padding: 80px 0; }
  .home-section h2, .home-section--sign-up h2, .home-section--info h2, .home-section--news h2, .home-section--donate h2, .home-section h3, .home-section--sign-up h3, .home-section--info h3, .home-section--news h3, .home-section--donate h3 {
    margin-top: 0; }
  .home-section--sign-up label, .home-section--sign-up input {
    display: block; }
  .home-section--sign-up input {
    width: 100%; }
  .home-section .info__description, .home-section--sign-up .info__description, .home-section--info .info__description, .home-section--news .info__description, .home-section--donate .info__description {
    margin-bottom: 40px; }
  .home-section .content, .home-section--sign-up .content, .home-section--info .content, .home-section--news .content, .home-section--donate .content {
    margin: 10px; }
  .home-section .news-item, .home-section--sign-up .news-item, .home-section--info .news-item, .home-section--news .news-item, .home-section--donate .news-item {
    display: flex;
    flex-direction: column; }

@media (min-width: 768px) {
  .home-section--news {
    display: flex;
    flex-flow: row wrap; }
    .home-section--news .section-heading {
      flex: 0 0 100%; }
    .home-section--news .content {
      display: flex;
      flex: 1; } }
.quick-donate .btn-amount, .quick-donate input {
  width: 12%;
  margin-right: 1%;
  text-align: center;
  height: 40px; }
.quick-donate .btn-amount {
  padding: 9px 12px; }
.quick-donate .btn-continue {
  height: 40px;
  border-radius: 40px;
  width: 30%; }

@media (max-width: 600px) {
  .quick-donate .btn-amount, .quick-donate input {
    width: 17%; }
  .quick-donate .btn-continue {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px; } }
.mission {
  margin-top: 40px; }

.goals {
  background: #eee;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .goals__title {
    padding: 20px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.25s; }
    .goals__title:hover {
      background: #d5d5d5; }
    .goals__title.active {
      background: #bbbbbb; }
    .goals__title:first-child {
      border-radius: 3px 0 0 0; }
    .goals__title:last-child {
      border-right: none;
      border-radius: 0 3px 0 0; }
  .goals__description {
    padding: 40px; }

.action-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .action-list__action {
    position: relative;
    padding: 0;
    background: #53A2F2;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin: 20px; }
    .action-list__action .action__description {
      margin-right: 40px; }
    .action-list__action:hover, .action-list__action:focus {
      background: #2488ee;
      color: white;
      text-decoration: none; }
    .action-list__action .action__link {
      color: white;
      text-align: none;
      padding: 20px;
      display: block; }
      .action-list__action .action__link:hover, .action-list__action .action__link:focus {
        color: white;
        text-decoration: none; }
    .action-list__action .glyphicon {
      display: table;
      position: absolute;
      right: 40px;
      top: 0;
      bottom: 0;
      margin: auto;
      vertical-align: middle; }

@media (max-width: 1200px) and (min-width: 768px) {
  .action-list__action .action__description {
    margin-right: 0; } }
@media (min-width: 768px) {
  .action-list {
    display: flex; }
    .action-list__action {
      position: relative;
      flex: 1;
      display: flex;
      align-items: center; } }
footer {
  background: #e5e5e5;
  padding: 30px; }

.candidate-list {
  list-style-type: none;
  margin: 0 0 1% 0; }
  .candidate-list .candidate {
    width: 23%;
    height: 100px;
    background: #eee;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    margin: 1% 1% 0 0; }
  .candidate-list .candidate__photo {
    display: inline-block;
    border-radius: 3px 0 0 3px;
    height: 100px;
    width: 100px;
    background: #999; }
  .candidate-list .candidate__name {
    display: block; }
  .candidate-list .candidate__office {
    display: block; }
  .candidate-list .candidate__content {
    width: calc(100% - 100px);
    float: right; }

.issues__content {
  background: #f5f5f5;
  border-radius: 3px;
  padding: 80px;
  margin-bottom: 10px; }
  .issues__content .sign-up-form {
    background: #ccc;
    margin: 80px -80px -80px;
    padding: 80px;
    border-radius: 0 0 3px 3px; }
    .issues__content .sign-up-form h3 {
      margin-top: 0; }
  .issues__content h2 {
    margin-top: 0; }
  .issues__content .sub-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px; }

.issues__nav {
  margin-left: -7.5px; }

.solution-list > li {
  margin: 20px 10px; }
