.navbar-header, .navbar-btn {
  z-index: 9;
  position: relative;
}

@media (min-width: 768px) {

  .navbar-nav--centered {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;

    > li {
      float: none;
      display: inline-block;
    }
  }
}
