.navbar-header, .navbar-btn {
  z-index: 9;
  position: relative; }

.navbar-default {
  margin-bottom: 0;
  background: white; }

.nav-pills > li > a {
  background: #f5f5f5;
  margin-bottom: 10px; }
  .nav-pills > li > a:hover {
    background: gainsboro; }

.btn {
  font-weight: 700;
  height: 40px;
  padding: 10px 15px; }

.btn-primary,
.btn-primary:visited {
  background-color: #58ea22;
  color: white;
  border: 1px solid #58ea22;
  outline: none; }

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover {
  background-color: #46cf14;
  color: white;
  border: 1px solid #46cf14;
  outline: none; }

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  border: 1px solid #3baf11;
  color: white;
  border: none;
  outline: none; }

.btn-secondary,
.btn-secondary:visited {
  background-color: #53A2F2;
  color: white;
  border: none;
  outline: none; }

.btn-secondary:hover,
.btn-secondary:active:hover,
.btn-secondary.active:hover {
  background-color: #2488ee;
  color: white;
  border: none;
  outline: none; }

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #117ce7;
  color: white;
  border: none;
  outline: none; }

.btn-donate,
.btn-donate:visited {
  background-color: #F43737;
  color: white;
  border: none;
  outline: none; }

.btn-donate:hover,
.btn-donate:active:hover,
.btn-donate.active:hover {
  background-color: #eb0d0d;
  color: white;
  border: none;
  outline: none; }

.btn-donate:focus,
.btn-donate.focus,
.btn-donate:active,
.btn-donate.active {
  background-color: #d30c0c;
  color: white;
  border: none;
  outline: none; }

input {
  border-radius: 3px;
  border: 1px solid #ccc; }

@media (min-width: 768px) {
  .navbar-nav--centered {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0; }
    .navbar-nav--centered > li {
      float: none;
      display: inline-block; } }
html {
  position: relative;
  min-height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  padding-top: 50px;
  margin-bottom: 200px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h4, h1 {
  font-weight: 700; }

.row--dark {
  background: #f5f5f5; }

.row--colored {
  background-color: #53A2F2;
  background: url("../img/bg_3.png") top center;
  background-size: cover;
  color: white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.5); }

.page-heading {
  background: url("../img/bg_4.png") center center;
  background-size: cover;
  color: white;
  border-radius: 3px;
  padding: 20px;
  margin: 10px 0;
  vertical-align: bottom; }
  .page-heading h1 {
    margin: 140px 0 5px 0; }
  .page-heading h3 {
    margin-top: 0;
    font-weight: normal; }
  .page-heading p {
    max-width: 600px; }

.dark {
  background: #fafafa; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: #f5f5f5; }

.content {
  background: white;
  border-radius: 3px;
  padding: 20px; }
  .content .content__heading {
    margin-top: 0; }
  .content .content__copy {
    flex: 1; }
  .content .content__btn {
    display: block; }

.video-wrapper {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  margin-top: -30%;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  overflow: hidden; }
  .video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 3px; }

.navbar-brand {
  padding: 10px; }
  .navbar-brand .logo {
    height: 30px; }

@media (min-width: 768px) {
  body {
    padding-top: 80px; }

  .navbar-brand {
    padding: 15px; }

  .navbar .logo {
    height: 50px;
    width: auto;
    transition: 0.25s; }
    .navbar .logo:hover {
      transform: scale(1.1); }

  .navbar {
    height: 80px; }

  .navbar-default .navbar-nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px; }

  .navbar .btn-donate.navbar-btn {
    margin-top: 17px;
    margin-bottom: 17px;
    padding: 11px 18px; } }
.module-container {
  background: white;
  border-radius: 3px;
  margin: 10px 0;
  height: 600px;
  display: flex; }
  .module-container--video {
    display: block; }

.module, .module--centered {
  height: 100%; }
  .module h1, .module--centered h1, .module h2, .module--centered h2, .module h3, .module--centered h3 {
    margin-top: 0; }
  .module--video {
    display: block !important;
    background-size: cover;
    border-radius: 0 3px 3px 0; }
    .module--video .module__content {
      max-width: 100%;
      padding: 0; }
  .module--centered {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
  .module__content {
    padding: 20px;
    max-width: 600px;
    margin: auto; }
  .module--two-thirds--full {
    width: 66%;
    float: left; }
  .module--one-third--full {
    width: 34%;
    float: left;
    background: #f5f5f5;
    height: 100%; }

@media (max-width: 991px) {
  .module-container--video .module--video {
    padding: 20px; }
  .module-container--video .module--centered {
    display: block;
    height: auto; }
  .module-container--video .video-wrapper {
    margin-top: 10px;
    position: relative;
    top: 0;
    left: 0;
    right: 0; } }
.col-md-4 .sign-up-form .form-group {
  margin-bottom: 10px; }
  .col-md-4 .sign-up-form .form-group.email {
    width: 59%; }
  .col-md-4 .sign-up-form .form-group.zip {
    width: 36%;
    margin-right: 0; }
  .col-md-4 .sign-up-form .form-group.submit {
    display: block;
    width: 100%; }

@media (max-width: 991px) and (max-width: 768px) {
  .module-container .sign-up-form .form-group {
    margin-bottom: 10px; }
    .module-container .sign-up-form .form-group.email {
      width: 60%; }
    .module-container .sign-up-form .form-group.zip {
      width: 36%;
      margin-right: 0; }
    .module-container .sign-up-form .form-group.submit {
      display: block;
      width: 100%; } }
@media (max-width: 767px) {
  .module-container {
    height: auto;
    flex-flow: row wrap; }
    .module-container .module--centered {
      flex: 0 0 100%;
      padding: 20px; }

  .navbar .btn-donate {
    display: block;
    width: 100%;
    float: none !important; } }
.sign-up-form .form-group {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 0; }
  .sign-up-form .form-group:last-child {
    margin-right: 0; }
  .sign-up-form .form-group.email {
    width: 48%; }
  .sign-up-form .form-group.zip {
    width: 26%; }
  .sign-up-form .form-group.submit {
    width: 20%; }
.sign-up-form input {
  height: 40px;
  line-height: 40px;
  text-indent: 10px;
  width: 100%; }
.sign-up-form label {
  display: block;
  font-size: 12px;
  font-weight: normal; }
.sign-up-form button {
  height: 40px;
  width: 100%; }
.sign-up-form--blue {
  background-color: #53A2F2;
  color: white;
  padding: 40px;
  border-radius: 3px; }
  .sign-up-form--blue h2 {
    margin-top: 0; }

@media (max-width: 520px) {
  .sign-up-form .form-group {
    margin-bottom: 10px; }
    .sign-up-form .form-group.email {
      width: 59%; }
    .sign-up-form .form-group.zip {
      width: 36%;
      margin-right: 0; }
    .sign-up-form .form-group.submit {
      display: block;
      width: 100%; } }
.home-section, .home-section--sign-up, .home-section--info, .home-section--news, .home-section--donate {
  padding: 80px 0; }
  .home-section h2, .home-section--sign-up h2, .home-section--info h2, .home-section--news h2, .home-section--donate h2, .home-section h3, .home-section--sign-up h3, .home-section--info h3, .home-section--news h3, .home-section--donate h3 {
    margin-top: 0; }
  .home-section--sign-up label, .home-section--sign-up input {
    display: block; }
  .home-section--sign-up input {
    width: 100%; }
  .home-section .info__description, .home-section--sign-up .info__description, .home-section--info .info__description, .home-section--news .info__description, .home-section--donate .info__description {
    margin-bottom: 40px; }
  .home-section .content, .home-section--sign-up .content, .home-section--info .content, .home-section--news .content, .home-section--donate .content {
    margin: 10px; }
  .home-section .news-item, .home-section--sign-up .news-item, .home-section--info .news-item, .home-section--news .news-item, .home-section--donate .news-item {
    display: flex;
    flex-direction: column; }
    .home-section .news-item .content__heading, .home-section--sign-up .news-item .content__heading, .home-section--info .news-item .content__heading, .home-section--news .news-item .content__heading, .home-section--donate .news-item .content__heading {
      margin-bottom: 5px; }
    .home-section .news-item .attribution, .home-section--sign-up .news-item .attribution, .home-section--info .news-item .attribution, .home-section--news .news-item .attribution, .home-section--donate .news-item .attribution {
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 10px;
      letter-spacing: 2px; }

@media (min-width: 768px) {
  .home-section--news {
    display: flex;
    flex-flow: row wrap; }
    .home-section--news .section-heading {
      flex: 0 0 100%; }
    .home-section--news .content {
      display: flex;
      flex: 1; } }
.quick-donate .btn-amount, .quick-donate input {
  width: 12%;
  margin-right: 1%;
  text-align: center;
  height: 40px; }
.quick-donate .btn-amount {
  padding: 9px 12px; }
.quick-donate .btn-continue {
  height: 40px;
  border-radius: 40px;
  width: 30%; }

@media (max-width: 600px) {
  .quick-donate .btn-amount, .quick-donate input {
    width: 17%; }
  .quick-donate .btn-continue {
    display: block;
    width: 50%;
    margin: auto;
    margin-top: 10px; } }
.mission {
  margin-top: 40px; }

.goals {
  background: #f5f5f5;
  border-radius: 3px;
  margin-top: 40px;
  margin-bottom: 40px; }
  .goals__title {
    padding: 20px;
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.25s; }
    .goals__title:hover {
      background: #e1effd; }
    .goals__title.active {
      background: #53A2F2;
      color: white; }
    .goals__title:first-child {
      border-radius: 3px 0 0 0; }
    .goals__title:last-child {
      border-right: none;
      border-radius: 0 3px 0 0; }
  .goals__description {
    padding: 40px; }

.action-list {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .action-list__action {
    position: relative;
    padding: 0;
    background: #53A2F2;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    margin: 20px;
    transition: 0.1s; }
    .action-list__action .action__description {
      margin-right: 40px; }
    .action-list__action:hover, .action-list__action:focus {
      background: #2488ee;
      color: white;
      text-decoration: none;
      transform: scale(1.05); }
    .action-list__action .action__link {
      color: white;
      text-align: none;
      padding: 20px;
      display: block; }
      .action-list__action .action__link:hover, .action-list__action .action__link:focus {
        color: white;
        text-decoration: none; }
    .action-list__action .glyphicon {
      display: table;
      position: absolute;
      right: 40px;
      top: 0;
      bottom: 0;
      margin: auto;
      vertical-align: middle; }

.volunteer-form .form-group {
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 10px; }
  .volunteer-form .form-group.email {
    width: 97%; }
  .volunteer-form .form-group.first-name, .volunteer-form .form-group.last-name {
    width: 47%; }
  .volunteer-form .form-group.phone {
    width: 68%; }
  .volunteer-form .form-group.zip {
    width: 26%; }
  .volunteer-form .form-group.submit {
    margin-top: 5px;
    width: 97%; }
  .volunteer-form .form-group input {
    height: 40px;
    line-height: 40px;
    text-indent: 10px;
    width: 100%; }
  .volunteer-form .form-group label {
    display: block;
    font-size: 12px;
    font-weight: normal; }
  .volunteer-form .form-group button {
    height: 40px;
    width: 100%; }
@media (max-width: 991px) {
  .volunteer-form.email {
    width: 97%; }
  .volunteer-form.first-name, .volunteer-form.last-name, .volunteer-form.submit {
    width: 47%; } }

@media (max-width: 1200px) and (min-width: 768px) {
  .action-list__action .action__description {
    margin-right: 0; } }
@media (min-width: 768px) {
  .action-list {
    display: flex; }
    .action-list__action {
      position: relative;
      flex: 1;
      display: flex;
      align-items: center; } }
footer {
  background: white;
  padding: 50px; }

.candidate-list {
  list-style-type: none;
  margin: 0 0 1% 0;
  padding: 0; }
  .candidate-list .candidate {
    width: 23.5%;
    height: 100px;
    background: #f5f5f5;
    display: inline-block;
    overflow: hidden;
    border-radius: 3px;
    margin: 1% 1% 0 0;
    transition: 0.1s; }
    .candidate-list .candidate__content {
      height: 100px;
      position: relative; }
    .candidate-list .candidate__name {
      line-height: 12px; }
    .candidate-list .candidate__location {
      font-size: 12px;
      font-weight: bolder;
      line-height: 12px; }
    .candidate-list .candidate__office {
      position: absolute;
      left: 10px;
      bottom: 10px; }
    .candidate-list .candidate:hover {
      opacity: 0.9;
      transform: scale(1.05); }
    .candidate-list .candidate a {
      color: #333; }
  .candidate-list .candidate__photo {
    display: inline-block;
    border-radius: 3px 0 0 3px;
    height: 100px;
    width: 100px;
    background: #999;
    background-size: cover;
    background-position: cover cover; }
  .candidate-list .candidate__name {
    display: block; }
  .candidate-list .candidate__office {
    display: block; }
  .candidate-list .candidate__content {
    width: calc(100% - 100px);
    float: right;
    padding: 10px; }

@media (max-width: 1199px) {
  .candidate-list .candidate {
    width: 32%; } }
@media (max-width: 991px) {
  .candidate-list .candidate {
    width: 49%; }
    .candidate-list .candidate:nth-child(even) {
      margin-right: 0; } }
@media (max-width: 767px) {
  .candidate-list .candidate {
    width: 100%;
    margin-right: 0; } }
.candidate-bio {
  padding: 40px 0; }

.page-sub-nav {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 3px;
  margin-top: 10px; }
  .page-sub-nav a {
    color: #333; }

.candidate-action-bar {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 3px; }
  .candidate-action-bar a {
    text-decoration: none !important; }
  .candidate-action-bar .social-icon {
    height: 32px;
    width: auto;
    margin-left: 5px; }
    .candidate-action-bar .social-icon:hover {
      opacity: 0.8;
      text-decoration: none; }

.candidate-sign-up {
  background: #f5f5f5;
  padding: 40px 20px;
  border-radius: 3px;
  margin-bottom: 10px; }
  .candidate-sign-up h3 {
    margin-top: 0; }

.issues__content {
  background: #f5f5f5;
  border-radius: 3px;
  padding: 80px;
  margin-bottom: 10px; }
  .issues__content .sign-up-form {
    background: #53A2F2;
    color: white;
    margin: 80px -80px -80px;
    padding: 80px;
    border-radius: 0 0 3px 3px; }
    .issues__content .sign-up-form h3 {
      margin-top: 0; }
  .issues__content h2 {
    margin-top: 0; }
  .issues__content .sub-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px; }

.issues__nav {
  margin-left: -7.5px; }
  .issues__nav a, .issues__nav li {
    position: relative; }

.nav-toggle {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  line-height: 40px;
  margin: auto;
  width: 40px;
  text-align: center;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9;
  border-radius: 0 3px 3px 0;
  cursor: pointer; }
  .nav-toggle:hover {
    background: rgba(0, 0, 0, 0.3); }

.solution-list > li {
  margin: 20px 10px; }

@media (max-width: 991px) {
  .issues__content {
    padding: 40px; }
    .issues__content .sign-up-form {
      padding: 40px;
      margin: 40px -40px -40px; }

  .issues__nav {
    max-height: 40px;
    margin-bottom: 10px;
    overflow: hidden;
    margin-right: -7.5px; }
    .issues__nav .expanded {
      max-height: 2000px !important;
      overflow: auto !important; } }
