.container-app {
  position: absolute;
  top: 80px;
  right: 0;
  bottom: 0;
  left: 0;
  
  display: flex;
}

.locator__sidebar {
  max-width: 400px;
  min-width: 240px;
  width: 100%;
  border-right: 1px solid #e7e7e7;
  flex: 1;
}

.locator__map {
  flex: 1;
  min-width: 600px;
  // background: #999;
}

.locator__address p {
  margin-bottom: 0;
}

.locator__heading {
  background: #f5f5f5;
  margin: 20px -15px 10px;
  padding: 5px 15px;
}
