<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Josh Fox and Our Revolution Team Up on #ClimateRevolution Rallies</h1>
      <span class="article-date">September 21, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> --

        <p>Academy award-nominated documentary filmmaker Josh Fox and Our Revolution on Wednesday announced a series of  #ClimateRevolution rallies, scheduled to take place in cities, towns and campuses across America this fall.</p>

        <p>“Climate change isn’t a wonkish or academic issue; it’s a racial and social justice issue,” said Fox, who is working with Our Revolution on its newly created Climate Revolution Committee. “It disproportionately affects Tribal Nations, lower income communities, people of color, rural communities, and youth. We’re going to be loud in the climate debate, and on the front lines of climate action. Climate change is also an issue that is critical to millennial voters.”</p>

        <p>Fox and a “dream team” of celebrities, musicians, and environmental, racial and social justice advocates will host the #ClimateRevolution rallies to gather and inspire climate voters during the critical countdown to Election Day. The rallies will feature speakers, live music and screenings of Fox’s award-winning new film, How to Let Go of the World and Love All the Things Climate Can’t Change.</p>

        <p>"We have a duty to defend, protect and renew our sacred lands and waters for future generations," said Deborah Parker, Tulalip Tribes, Our Revolution Board Member. "Let's gather as one to renew this commitment."</p>

        <p>The <a href="https://www.facebook.com/gaslandmovie/videos/10153889256438365/#" target="_blank">next rally</a> will take place on September 24, beginning at 6 p.m. at Voinovich Bicentennial Park in Cleveland, Ohio. Speakers will include former Ohio State Sen. and Our Revolution Board Member Nina Turner.</p>

        <p>“We started Our Revolution to keep one foot in the streets and one foot in our elections, making sure the peoples’ voices are reflected in our democracy,” said Larry Cohen, Our Revolution Board Chair. “We are excited to partner with Josh and others on these rallies to show our collective electoral power.”</p>

        <p>Rallies are scheduled in California, Colorado, Iowa, Nevada, Ohio and Pennsylvania. Each stop will highlight down-ballot champions up for local election. The tour through Iowa will put a spotlight on tribal and farmer resistance to the Dakota Access Pipeline.</p>

        <p>“We the people hold the power to pursue our agenda,” Fox added. “That includes real climate action, a ban on fracking, single-payer health care, an end to police brutality, stopping the Trans-Pacific Partnership, investing in renewable energy and job development in inner cities, among other things. We’re building a movement that embraces the intersectionality between all of our issues and forges ties across our progressive movement.”</p>

        <p>To watch the #ClimateRevolution tour trailer, click <a href="https://www.facebook.com/ClimateRevolution/videos/144072476046942/?pnref=story" target="_blank">here</a>.</p>
      </div>
    </section>
  </div>
</div>
