<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution on Massachusetts Primary Wins</h1>
      <span class="article-date">September 9, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> -- Our Revolution on Friday congratulated State Sen. Patricia Jehlen and Mike Connolly, candidates endorsed by the organization, for their Massachusetts primary victories.</p>

        <p>“Yesterday, we saw the power of grassroots organizing with the two victories in Massachusetts. Both of these candidates embody the progressive values that continue to fuel the political revolution," said Executive Director Shannon Jackson. "Whether it was spreading the word online, knocking on doors or volunteering-- these victories are a testament to what we can accomplish when we stand together."</p>

        <p>"The support from Our Revolution, combined with traditional grassroots organizing and GOTV efforts, undoubtedly made a difference," said Former Labor for Bernie leader and Our Revolution supporter Rand Wilson, after witnessing the organization's impact on the ground.  "State Sen. Pat Jehlen won with 80 percent against a pro-charter school challenger. Mike Connolly won by 394 votes against a four-term incumbent."</p>

        <p>“We must continue to work towards electing local leaders who will work tirelessly for social and economic justice," Jackson added. "These victories should send a clear message about the power of our grassroots movement."</p>
      </div>
    </section>
  </div>
</div>
