<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Announces Latest Round of Endorsements</h1>
      <span class="article-date">September 28, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> -- Our Revolution on Wednesday announced its support for nine candidates running for positions in local and state legislatures and congressional seats around the country. The organization previously endorsed 87 progressive candidates.</p>

        <p>"Monday’s debate should serve as a reminder of how important this election is. We must show up and support candidates who put working families first,” said Political Outreach Manager Erika Andiola. “Our Revolution is honored to support these candidates because they’re fighting for economic, social, racial and environmental justice in their own backyards. Whether it’s a 26-year-old in Stockton, working to revitalize and invest in his hometown, a 24-year-old who helped organize DACA clinics across Arkansas, or a state senator fighting to protect public education and raise the minimum wage: the political revolution is alive and well. Make sure you’re registered to vote, so you can stand behind these progressive champions on Election Day.”</p>

        <p><strong>Full list of candidates:</strong></p>

        <h3>Alaska</h3>
        <p><strong>Patricia Faye-Brazel</strong> is running for State Representative in District 10. Faye-Brazel has worked with tribal governments in Alaska since 1997 and is employed at the Mat-Su Regional Urgent Care Center. Faye-Brazel’s campaign is focused on investing in infrastructure, jobs, broadband internet, and local energy solutions.</p>

        <p>To read more about Faye-Brazel, click <a href="/candidates/patricia-faye-brazel">here</a>.</p>

        <h3>Arkansas</h3>
        <p><strong>Irvin Camacho</strong> is running for State Representative in District 89. Camacho has worked with the Arkansas Natural DREAMers, collaborated with the United Community Coalition and helped organize more than a dozen DACA clinics across the state. Camacho will invest in job training programs, connect small businesses with the resources they need to thrive, advocate for focused deterrence programs and expand rehabilitation programs in state prisons to reduce recidivism.</p>

        <p>To learn more about Camacho, click <a href="/candidates/irvin-camacho">here</a>.</p>

        <p><strong>Victoria Leigh</strong> is running for State Representative in District 38. Leigh opened a law practice in Central Arkansas, working cases ranging from criminal defense to consumer protection. Leigh’s campaign focuses on providing universal preschool, affordable higher education, affordable housing for low-income seniors, and providing funding for critical senior services.</p>

        <p>To learn more about Leigh, click <a href="/candidates/victoria-leigh">here</a>.</p>

        <h3>California</h3>
        <p><strong>Dean Preston</strong> is running for Board of Supervisors in San Francisco’s District 5. Preston fought to protect the rights of Bay Area residents who were victims of police misconduct, and has been a champion for tenant’s rights and affordable housing. Preston’s campaign focuses on continuing those efforts, providing universal preschool, criminal justice reform, and investing in transportation.</p>

        <p>To learn more about Preston, click <a href="/candidates/dean-preston">here</a>.</p>

        <p><strong>Nanette Barragan</strong> is running for U.S. House of Representatives in District 44. Barragan worked at the NAACP, with a focus on social justice, and lead the fight against Measure O, which would have allowed oil companies to drill in the Santa Monica Bay. Barragan, the first Latina elected to the Hermosa Beach City Council, currently provides free legal services for children with special needs in foster care. Barragan’s campaign focuses on making early education available to all families, creating new jobs by supporting renewable energy, and protecting women’s access to health care.</p>

        <p>To learn more about Barragan, click <a href="/candidates/nanette-barragan">here</a>.</p>

        <p><strong>Michael Tubbs</strong> is running for Mayor of Stockton at age 26. In 2012, Tubbs became the youngest city councilmember elected in Stockton’s history. Tubbs is running to increase investments in underserved areas of Stockton and enact reforms to improve community-police relations by expanding community engagement. As mayor, Tubbs will enact a housing first model focused on ending homelessness and establish an Innovation Fund to create new investments in small businesses.</p>

        <p>To learn more about Tubbs, click <a href="/candidates/michael-tubbs">here</a>.</p>

        <h3>Georgia</h3>
        <p><strong>State Sen. Vincent Fort</strong> is running for State Senate in District 39. Fort led the fight with Gov. Roy Barnes to pass the nation’s toughest law against predatory lenders, and has worked with activists and experts to reform local law enforcement practices. Fort was the first Georgia legislator to sponsor a bill to create a state hate crimes law. Fort supports a $15 minimum wage, Medicaid expansion, and has fought right wing efforts that take funding from public schools, including vouchers and funding for-profit charter schools. In addition, Fort has successfully led efforts to secure tens of millions of dollars in additional funding for Atlanta Metropolitan College and Atlanta Technical College to provide affordable educational opportunities for Atlanta’s young adults and those seeking continuing education and training.</p>

        <p>To learn more about state Sen. Fort, click <a href="/candidates/vincent-fort">here</a>.</p>

        <h3>Virginia</h3>
        <p><strong>Kai Degner</strong> is running for U.S. House of Representatives in District 6. In 2008, Degner was elected to Harrison’s City council and was unanimously chosen by his colleagues to be the mayor of Harrisonburg for the 2009 – 2010 term. In 2012, he was re-elected to the Harrisonburg City Council for a second, four-year term. Degner’s campaign supports campaign finance reform, green jobs, and addressing income inequality and gerrymandering.</p>

        <p>To learn more about Degner, click <a href="/candidates/kai-degner">here</a>.</p>

        <h3>Missouri</h3>
        <p><strong>Brianna Lennon</strong> is running for Boone County Southern District Commissioner. Lennon is a former Missouri Assistant Attorney General in the Consumer Protection Unit, the Deputy Director of Elections, and the first coordinator of the Election Integrity Unit in the Missouri Secretary of State’s office. Lennon is working to ensure a more transparent commission.</p>

        <p>To learn more about Lennon, click <a href="/candidates/brianna-lennon">here</a>.</p>
      </div>
    </section>
  </div>
</div>
