<div class="row">
  <div class="container">
    <div class="page-heading--press dapl-bg-pr">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Stands with Dakota Access Pipeline Protesters</h1>
      <span class="article-date">October 27, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <div class="row press-share">
          <div class="col-sm-6">
            <a class="btn btn-twitter btn-block" href="https://twitter.com/intent/tweet?text=Our%20Revolution%20Stands%20with%20Dakota%20Access%20Pipeline%20Protesters%20via%20%40OurRevolution%20https%3A%2F%2Fourrevolution.com%2Fpress%2Four-revolution-stands-with-dakota-access-pipeline-protestors"><span class="social-icon twitter-icon"></span> Share on Twitter</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-facebook btn-block" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fourrevolution.com%2Fpress%2Four-revolution-stands-with-dakota-access-pipeline-protestors" target="_blank"><span class="social-icon facebook-icon"></span> Share on Facebook</a>
          </div>
        </div>
        
        <p><strong>WASHINGTON</strong> -- <em>Our Revolution on Thursday released the following statements after law enforcement moved in to remove Dakota Access Pipeline protesters. According to the <a href="https://www.apnews.com/96c28140fe9a4baa867a55c6cb888411/The-Latest:-Authorities-begin-arresting-pipeline-protesters" target="_blank">Associated Press</a>, officers were dressed in riot gear-- and some were armed-- as they moved in with trucks, police cars, Humvees, buses, and helicopters:</em> 
   
        <p>"The earth cannot sustain the amount of destruction we have imposed upon her. What we do today has a direct effect on our future generations. It is our responsibility to look past today into the next seven generations. I stand with the Standing Rock Sioux Nation and ask us to examine the implications of our actions. Let us seek better solutions for a more just transition into our future. Our children will thank us."</p>
        <p><strong>– Deborah Parker, Our Revolution Board Member</strong></p>

        <p>"It is heartbreaking to me that amidst the Great Plains of North Dakota, there are Native American elders and children praying for their land, who are being met with war tanks, police in riot gear, pepper spray, tear gas, batons, automatic firearms-- the list goes on. What is even more deeply concerning, however, is the media blackout happening in regards to the events at Standing Rock.  We must ask ourselves why mainstream media has not made a visit to report on the #NoDAPL actions.  Why are our two potential presidential candidates staying silent?  Not only does this pipeline address climate change and the immense hold the fossil fuel industry has on our nation, but it also addresses racism, suppression, social justice, and blatant ignorance towards the Indigenous peoples of our land."</p>
        <p><strong>– Shailene Woodley, Our Revolution Board Member</strong></p>
   
        <p>"A basic question must be answered—on whose orders are our police, from all over the country, being used to protect Big Oil? We stand with our brothers and sisters as they protect the land and water from reckless greed of the Dakota Access export pipeline.”</p>
        <p><strong>– Jane Kleeb, Our Revolution Board Member</strong></p>
   
        <p>"When reporters like Amy Goodman and Deia Schlosberg are being arrested simply for doing journalism and participants in peaceful Native American prayer ceremonies are being beaten, hooded, pepper sprayed, and tortured-- the only answer is that the legitimacy of the North Dakota government is falling apart. We need a higher power like the Justice Department to come in and stop the human rights abuses and atrocities immediately. We need the Attorney General to go to Standing Rock immediately and call for the police to stand down just as Robert F. Kennedy Jr. did after violence broke out against the Freedom Riders during the Civil Rights movement."</p>
        <p><strong>– Josh Fox, Academy award-nominated documentary filmmaker</strong></p>

      </div>
    </section>
  </div>
</div>
