<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Statement</span>
      <h1>Our Revolution Statement on Tulsa and Charlotte Police Shootings</h1>
      <span class="article-date">September 23, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> -- Keith Lamont Scott was a father of seven. Terence Crutcher was a father of four. They are just the two latest Black men in this country that have become hashtags—their names and faces shared by people around the country as we try to make sense of our feelings of grief, and of rage.</p>

        <p>For many of us, the images and videos of police violence we’ve seen over the last few years can feel like too much to bear. The sad reality is that these images are only glimpses into systems of racism that extend back to the beginnings of our country and into every layer of our society and government.</p>

        <p>What we as a nation are witnessing, and what we are feeling, are echoes of the experiences and emotions that communities of color—and Black people, in particular—have endured for generations.</p>

        <p>In the face of these events, we cannot allow ourselves to be overcome by sorrow and hopelessness. The persistent killing of people of color has gone on for too long, but we can take steps to end it.</p>

        <p>As a start, we can demand candidates for elected office support common sense reforms, including national use of force standards that train police officers to de-escalate confrontations, an end to racial profiling and an independent review of all police shootings.</p>

        <p>Above all, we need to listen to and elevate the legitimate concerns and proposed solutions being shared by Black voices.</p>

        <p>Our Revolution stands with all who are demanding and working toward justice and accountability, and we join with them in the fight to end our country’s long history of racial oppression.</p>
      </div>
    </section>
  </div>
</div>
