<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Reacts: Final Presidential Debate</h1>
      <span class="article-date">October 19, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <div class="row press-share">
          <div class="col-sm-6">
            <a class="btn btn-twitter btn-block" href="https://twitter.com/intent/tweet?text=Our%20Revolution%20Reacts%3A%20Final%20Presidential%20Debate%20via%20%40OurRevolution%20https%3A%2F%2Fourrevolution.com%2Fpress%2Four-revolution-reacts-final-presidential-debate"><span class="social-icon twitter-icon"></span> Share on Twitter</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-facebook btn-block" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//ourrevolution.com/press/our-revolution-reacts-final-presidential-debate" target="_blank"><span class="social-icon facebook-icon"></span> Share on Facebook</a>
          </div>
        </div>

        <p><strong>WASHINGTON</strong> -- <em>Jeff Weaver, president of Our Revolution, released the following statement after tonight’s final presidential debate:</em></p>

        <p>“Hillary Clinton dominated Trump on the economy. The election is practically over. Trump wants tax breaks for the rich and large corporations. Hillary Clinton talked about raising wages and helping middle class families. Clinton talked about plans for free tuition for middle income and working families. When it comes to creating an economy for all people, Clinton is head and shoulders above Trump.</p>

        <p>“Trump wants a Supreme Court dominated by right wing ideologues. Clinton wants to appoint Supreme Court justices who will protect women's rights and overturn the disastrous Citizens United decision.</p>

        <p>"The choice in this election could not be more clear.”</p>

        <p><strong>Our Revolution, on the issues:</strong></p>

        <p><strong>Minimum Wage</strong></p>
        <p>"Donald Trump doesn’t know the first thing about the necessity of a job and what working class and working poor people go through. Inheriting millions of dollars from his dad isn’t a job," said board member <strong>Lucy Flores</strong>.</p>

        <p><strong>Immigration</strong></p>
        <p>“The majority of Americans are better than the manufactured fear Trump is peddling. His brand of hate politics won’t succeed,” said <strong>Lucy Flores</strong>.</p>

        <p>"It is important to remember that our undocumented community is still getting raided, detained and deported. We must push back against Trump's hatred towards immigrants and people of color. At the same time, we must not allow for another Democratic administration to continue to deport millions of vulnerable immigrants while tearing families apart. We must stop the raids, close down detention centers and continue to fight for a permanent solution," said <strong>Erika Andiola</strong>, Our Revolution's political outreach manager. </p>
      </div>
    </section>
  </div>
</div>
