<div class="row">
  <div class="container">
    <div class="page-heading--press shailene-bg-pr">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Statement on Board Member Shailene Woodley's Arrest</h1>
      <span class="article-date">October 10, 2016</span>

      <span class="attribution">Photo Gabe Skidmore, <a href="https://creativecommons.org/licenses/by-sa/2.0/" target="_blank">CC 2.0</a></span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> -- <em>Our Revolution on Monday released the following statement after board member Shailene Woodley was arrested protesting the Dakota Access Pipeline:</em></p>

        <p>"Our Revolution stands with board member Shailene Woodley following her arrest at Standing Rock Reservation protesting the Dakota Access Pipeline. We all have a duty to defend and protect sacred lands and waters for future generations. The Standing Rock Sioux Tribe and other nations have been leading the effort for months. Concerned farmers and activists are fighting the oil company. But it's incumbent on all of us to stand up against this pipeline. We're proud of Shailene for doing just that. </p>

        <p>"On this Indigenous Peoples Day, let's celebrate indigenous heritage and resiliency-- and stand in solidarity. Our Revolution wants to do more than organize against the pipeline, we must take the fight to climate polluters and elect candidates from our grassroots movement. We need to create a government that better reflects the diversity of the people it governs. </p>

        <p>"It's unfortunate that Shailene's arrest is the only reason certain factions of the media are finally paying attention to this important issue-- but we hope that it inspires Americans who otherwise haven't heard about the fight to take action. Shailene's leadership today is exactly the type of dedication that continues to fuel the political revolution. When we come together, standing up for what we know is right, there is nothing we cannot accomplish. Together, Our Revolution will continue to work with and support those resolutely fighting against the Dakota Access Pipeline."</p>
      </div>
    </section>
  </div>
</div>
