<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Announces Formation of Board</h1>
      <span class="article-date">August 29, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> -- Our Revolution on Monday announced the formation of its board. The diverse coalition of eleven former elected officials, organizational leaders and grassroots activists join the board to continue the work they started as volunteers and surrogates for Sen. Bernie Sanders’ presidential campaign, mobilizing progressives across the country to transform American politics.</p>

        <p>"I am proud to join the board and continue volunteering for Our Revolution. Bernie's transformative campaign was just the beginning,” said civil rights leader Ben Jealous. “We now have to follow through on our promises to help pass criminal justice reform, the $15 minimum wage and climate change legislation while stopping our endless wars and the TPP, and electing true progressives from the Deep South to the Northwest.”</p>

        <p>“I am proud to continue this work with Our Revolution, because this is the work worth doing,” said former Ohio state Sen. Nina Turner. “We are focused on the mission of transforming our political landscape issue by issue and candidate by candidate. It is through our unity and engagement that we continue to tap into this awakened consciousness which has the power to transform our country for generations to come.</p>

        <p>“Some of us have spent years working for civil rights, against discrimination and hate crimes. Some of us have worked for workers’ rights, a fair economy, or protecting our environment.  Some of us are immigrants, others born here,” said Board Chair Larry Cohen. “But we all have something in common: we want to protect human rights here in the United States and globally.”</p>

        <p>“I'm incredibly excited to continue the work that Bernie and so many others started in order to further our shared progressive agenda,” said former Nevada Assemblywoman Lucy Flores. “It's truly an honor to work alongside the talented Our Revolution board and staff, who are as committed as I am to the future of our political movement.”</p>

        <p><strong>Full board list below:</strong></p>

        <ul>
          <li>Nina Turner - Fmr. Ohio State Senator</li>
          <li>Deborah Parker - Native American Leader</li>
          <li>Ben Jealous - Civil Rights Leader</li>
          <li>Jim Hightower - Political Leader, National Radio Commentator & Writer</li>
          <li>Jim Zogby - Arab American Human Rights Leader</li>
          <li>Huck Gutman - Former Chief of Staff for Senator Bernie Sanders</li>
          <li>Jane Kleeb - Environmental Activist</li>
          <li>Lucy Flores - Fmr. Nevada Assemblywoman</li>
          <li>Larry Cohen - Labor</li>
          <li>Catalina Velasquez - Immigration, Reproductive Justice and Trans Queer Liberation Activist</li>
          <li>Shailene Woodley - Actress and Environmental Activist</li>
        </ul>
      </div>
    </section>
  </div>
</div>
