<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Announces New Round of Endorsements</h1>
      <span class="article-date">September 7, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> -- Our Revolution on Wednesday announced their support for seven candidates running for positions in state legislatures and congressional seats around the country. The organization previously endorsed sixty-three progressive candidates following its national launch, when supporters held over 2,600 house parties and thousands signed up to volunteer.</p>

        <p>"We must continue to work towards electing local leaders who will work tirelessly for social and economic justice,” said Executive Director Shannon Jackson. “These candidates are dedicated to fighting for under-served communities and committed to advancing policies that would give their constituents access to universal health care, a free college education and a livable minimum wage. They embody the progressive values that fueled the political revolution and we are honored to give them our support.”</p>

        <p><strong>Full list of candidates below:</strong></p>

        <h3>Arizona</h3>
        <p>Wenona Benally is a member of the Navajo Nation and currently running to represent District 7 in the Arizona House of Representatives. Benally served as an advisor to the Obama Tribal Leaders Steering Committee and on the tribal outreach teams for Northern Arizona and Northern New Mexico during the 2016 presidential primaries.</p>

        <p>To learn more about Benally's platform, click <a href="/candidates/wenona-benally">here</a>.</p>

        <h3>Nevada</h3>
        <p>Owen Carver is a small business owner and community organizer running for Nevada State Assembly in District 2. Carver is a progressive millennial running on a platform that calls for free higher education. Carver is up against Nevada's Republican Speaker of the House.</p>

        <p>To learn more about Carver's platform, click <a href="/candidates/owen-carver">here</a>.</p>

        <h3>Oregon</h3>
        <p>Brad Avakian is running for Oregon Secretary of State. Avakian is a former civil rights attorney, who served in the Oregon House of Representatives from 2002 to 2006, and in the Oregon State Senate from 2006 to 2008. Avakian helped create the local YMCA’s Juvenile Restitution Program. Co-founded the Oregon League of Conservation Voters’ Washington County Chapter and was appointed to lead the State Board of Psychologist Examiners.</p>

        <p>To learn more about Avakian's platform, click <a href="/candidates/brad-avakian">here</a>.</p>

        <h3>Pennsylvania</h3>
        <p>Chris Rabb became the Democratic nominee for State Rep. of Pennsylvania’s 200th legislative district by defeating the incumbent in the primary election by seven points in a three-person race. Rabb currently serves as a Democratic Committeeperson re-elected twice since 2006. He served as a legislative staffer in the U.S. Senate and a writer and trainer for the White House Conference on Small Business during the Clinton administration, and later ran a nationally acclaimed urban business incubator in West Philadelphia. Rabb serves on the board of directors of the Friends of the Wissahickon and is the vice chair of the board of directors for Race Forward based in New York City.</p>

        <p>To learn more about Rabb's platform, click <a href="/candidates/chris-rabb">here</a>.</p>

        <h3>Rhode Island</h3>
        <p>Marcia Ranglin-Vassell is running to represent Rhode Island’s Legislative District 5. Ranglin-Vassell is a YWCA “Woman of Achievement” award-winner for her work in education and a member of the Rhode Island Black Business Association.</p>
        
        <p>To learn more about Ranglin-Vassell's platform, click <a href="/candidates/marcia-ranglin-vassell">here</a>.</p>

        <h3>Washington State</h3>
        <p>Jason Ritchie is running to represent Washington State’s Legislative District 5. Ritchie is general contractor and owner of Handi Habitats, a nationwide accessible construction firm that works with hospitals, nurses, veterans, seniors and those with physical challenges to create accessible homes. Over the past 10 years, Handi Habitats has helped thousands of injured workers, veterans, and older Americans to live safely and independently at home.</p>

        <p>To learn more about Ritchie's platform, click <a href="/candidates/jason-ritchie">here</a>.</p>

        <h3>Wisconsin</h3>
        <p>Thomas Nelson is running to represent Wisconsin’s District 8 in the U.S. House of Representatives. Nelson spent time in the State Legislature and as the Outagamie County Executive, where he worked across the aisle to balance the budget for the past five years. Nelson is a champion of SeniorCare and created jobs by expanding the Appleton International Airport and supporting a regional economic development partnership.</p>

        <p>To learn more about Nelson's platform, click <a href="/candidates/thomas-nelson">here</a>.</p>
        </p>
      </div>
    </section>
  </div>
</div>
