<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Announces Final Round of Endorsements</h1>
      <span class="article-date">October 5, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> --  Our Revolution on Wednesday announced its support for ten candidates running for positions in local and state legislatures and congressional seats around the country.</p>

        <p>It’s the organization’s final round of endorsements for the 2016 election cycle.</p>

        <p>“With wall-to-wall coverage of the presidential election, it could be easy for voters to forget how important local elections are—but it’s important that we see the whole picture. Because local elections will have a significant impact on voters’ everyday lives,” said Executive Director Shannon Jackson. “The political revolution relies on the progressive champions who fight for economic, social, racial and environmental justice in their own backyards. Our Revolution is honored to support these candidates, who are standing up in their communities and putting working families first.”</p>

        <h3><strong>Indiana</strong></h3>
        <p><strong>Lorenzo Arredondo</strong> is running for Attorney General. When the Lake County Circuit Court Judge retired in 2010, he was the longest serving elected Latino State trial judge in the United States, with over three decades of service. During his career Arrendondo co-founded the Hispanic National Bar Association, was Vice-Chair of the Indiana Supreme Courts Commission on Race and Gender Fairness, and worked to remove language barriers for non-English speakers in the courts, creating certified court interpreters. Arrendondo is working to ensure equal protection under the law, protect consumers and taxpayers from fraud, battle public corruption, and protect women, children and seniors from abuse.</p>

        <p>To learn more about Arredondo, click <a href="/candidates/lorenzo-arredondo">here</a>.</p>

        <h3><strong>Wisconsin</strong></h3>
        <p><strong>Adam Dahl</strong> is running for State Assembly in District 47. Dahl is committed to fighting against income inequality and for social justice, spending the last year as a super volunteer on Sen. Bernie Sanders’ 2016 campaign. Dahl believes health care is a right and that we need to get big money out of politics, with a focus on overturning Citizens United. Dahl will work to move towards a renewable energy economy by increasing the production of wind mills, solar farms and banning fracking.</p>

        <p>To learn more about Dahl, click <a href="/candidates/adam-dahl">here</a>.</p>

        <h3><strong>Kansas</strong></h3>
        <p><strong>Gabriel Costilla</strong> is running for State Senate in District 16. Costilla teaches at Witchita High School and is running to make sure that all students have access to high quality education, regardless of where they live. Costilla will be a strong voice for Medicaid expansion, infrastructure investment, and the conversion to renewable energy.</p>

        <p>To learn more about Costilla, click <a href="/candidates/gabriel-costilla">here</a>.</p>

        <p><strong>Anabel Larumbe</strong> is running for State Senate in District 30. Larumbe advocates for middle and low income families through her work at Primerica Financial Services, helping them gain financial stability and independence by teaching fiscal responsibility. Larumbe will work to protect voter’s rights, raise the minimum wage to a liveable wage, and expand Medicaid.</p>

        <p>To learn more about Larumbe, click <a href="/candidates/anabel-larumbe">here</a>.</p>

        <h3><strong>Montana</strong></h3>
        <p><strong>Kari Boiter</strong> is running for State Representative in District 44. Boiter is advocating for criminal justice reform, preserving Big Sky Country and preventing public lands from being sold, investing in working families and Montana’s youth, medical marijuana, and creating good-paying jobs through infrastructure investment.</p>

        <p>To learn more about Boiter, click <a href="/candidates/kari-boiter">here</a>.</p>

        <h3><strong>Kentucky</strong></h3>
        <p><strong>Nathan Morguelan</strong> is running for City Commissioner of Bowling Green. Morguelan is a local business owner, who will work to reinvest in parks, revitalize the Capitol, fix local food truck laws, pass the Bowling Green Fairness Ordinance, create an animal abuse registry and bring transparency back to City Hall.</p>

        <p>To learn more about Morguelan, click <a href="/candidates/nathan-morguelan">here</a>.</p>

        <h3><strong>New Mexico</strong></h3>
        <p><strong>Rudy Martinez</strong> is running for State Representative for District 39. Martinez was employed at the Chino Mines for 33 years and is a licensed journeyman and member of IBEW Local 611. Martinez has served as councilman, Mayor for the city of Bayard, District 7 Director of New Mexico Municipal League, Chairman of Grant County Commission and State Representative from 2007 to 2014. Martinez is committed to investing in early childhood education and infrastructure, protecting New Mexico’s water and improving benefits for veterans.</p>

        <p>To learn more about Martinez, click <a href="/candidates/rudy-martinez">here</a>.</p>

        <p><strong>Elizabeth Thomson</strong> is running for State Representative for District 39. Thomson is a pediatric physical therapist who has worked with the New Mexico Autism Society and was named a Leigslative Champion by Mothers Against Drunk Driving. Thomson will increase early childhood education, continue her fight to reduce drunk driving, and expand funding for women’s health care.</p>

        <p>To learn more about Thomson, click <a href="/candidates/elizabeth-thomson">here</a>.</p>

        <h3><strong>Oklahoma</strong></h3>
        <p><strong>Robert Founds</strong> is running for State Senate in District 25. Founds is looking to use his 26 years of business experience to tackle the state budget and update the tax structure. Founds will protect public school funding , raise the minimum wage, expand health care to the working poor, an enact family-friendly worker protections.</p>

        <p>To learn more about Founds, click <a href="/candidates/robert-founds">here</a>.</p>

        <h3><strong>Wyoming</strong></h3>
        <p><strong>Charles Pelkey</strong> is running for State Representative in District 45. Before becoming a lawyer, Pelkey worked as a radio and television host, a newspaper reporter, press secretary in the U.S. Senate and magazine editor. Pelkey will fight to raise the minimum wage and close the gender wage gap, protect women’s health care access, pass laws to protect citizens from discrimination, diversify Wyoming’s economy, and protect families from crushing health care debt.</p>

        <p>To learn more about Pelkey, click <a href="/candidates/charles-pelkey">here</a>.</p>
      </div>
    </section>
  </div>
</div>
