<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Announces Latest Round of Endorsements</h1>
      <span class="article-date">September 20, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> -- Our Revolution on Tuesday announced its support for eight candidates running for positions in local and state legislatures and congressional seats around the country. The organization previously endorsed 79 progressive candidates, including Marcia Ranglin-Vassell and Jeanine Calkin of Rhode Island and Anthony Eramo of New York, who won their primaries last week.</p>

        <p>"Candidates endorsed by Our Revolution are making 'inevitable' races competitive, with three of our progressive champions taking down incumbents who have served for 20 years or more," said Political Outreach Manager Erika Andiola. "These candidates are winning because they put working families first and embody the progressive values that continue to fuel the political revolution. We're honored to stand by this latest round of candidates as they fight for social and economic justice in their own backyards."</p>

        <p><strong>Full list of candidates below:</strong></p>

        <h3>New Hampshire</h3>
        <p><strong>Andru Volinsky</strong> is running for Executive Council in District 2. As a board member of the Manchester Community Health Center, Volinksy understands the importance of a strong public health system, and will work to restore vital family planning funds to Planned Parenthood health centers across the state and protect the increased access to affordable health care made possible by Medicaid expansion. Volinksy will work to approve qualified appointees to state boards and commissions who will work to protect public education funding and the retirement security of our state employees.</p>

        <p>To learn more about Volinsky, click <a href="/candidates/andru-volinsky">here</a>.</p>

        <p><strong>Mark King</strong> is running for State Representative in Hillsborough District 33. King currently works as a library assistant for the Nashua Public Library,  is a district coordinator for the NH AFL-CIO, serves as president of the Nashua Public Library Employee Union AFT-FPE #4831, and was a Sanders delegate at the Democratic National Convention.</p>

        <p>To learn more about King, click <a href="/candidates/mark-king">here</a>.</p>

        <p><strong>Mark S. Mackenzie</strong> is running for State Representative in Hillsborough District 17. The former New Hampshire AFL-CIO President was a delegate for Sen. Sanders at the Democratic National Convention.</p>

        <p>To learn more about Mackenzie, click <a href="/candidates/mark-mackenzie">here</a>.</p>

        <p><strong>Robert "Renny" Cushing</strong> is running for State Representative in Rockingham District 21. Cushing serves as executive director of Murder Victims' Families for Human Rights and has focused his efforts on criminal justice reform, raising the minimum wage, and expanding access to affordable health care.</p>

        <p>To learn more about Cushing, click <a href="/candidates/robert-cushing">here</a>.</p>

        <h3>North Carolina</h3>
        <p><strong>Deborah Ross</strong> is running for U.S. Senate. Ross is focused on making college affordable and addressing the student debt, preventing trade deals and tax breaks from shipping jobs overseas, and protecting retirement benefits for seniors.</p>

        <p>To learn more about Ross, click <a href="/candidates/deborah-ross">here</a>.</p>

        <h3>Nebraska</h3>
        <p><strong>Justin Wayne</strong> is running for State Senate in District 13. Wayne worked as an assistant director in labor relations at Union Pacific Railroad. Wayne currently serves as president of the Midwest Trailblazers Youth Program and serves on the board of directors for Goodwill Industries. Wayne is fighting to make sure his constituents have access to a high quality education, affordable health care, and benefits for seniors.</p>

        <p>To learn more about Wayne, click <a href="/candidates/justin-wayne">here</a>.</p>

        <p><strong>Larry Scherer</strong> is running for State Senate in District 21. Scherer is focused on promoting economic growth in Northwest Lincoln and Lancaster County, investing in education, and ensuring access to affordable health care.</p>

        <p>To learn more about Scherer, click <a href="/candidates/larry-scherer">here</a>.</p>

        <h3>Colorado</h3>
        <p><strong>Morgan Carroll</strong> is running against Rep. Mike Coffman for U.S. House of Representatives in District 6. Carroll witnessed first-hand how quickly a lifetime of retirement savings can be erased by medical bills, when she lost her father to Parkinson's disease-- leaving her deeply committed to standing up for Colorado's middle class families. Carroll is focused on creating jobs, advocating for people with disabilities, addressing the student debt crisis, and campaign finance reform.</p>

        <p>To learn more about Carroll, click <a href="/candidates/morgan-carroll">here</a>.</p>
      </div>
    </section>
  </div>
</div>
