<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Give the Voters What They Want: A Substantive Discussion</h1>
      <span class="article-date">October 19, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">

        <div class="row press-share">
          <div class="col-sm-6">
            <a class="btn btn-twitter btn-block" href="https://twitter.com/intent/tweet?text=Give%20the%20Voters%20What%20They%20Want%3A%20A%20Substantive%20Discussion%20via%20%40OurRevolution%20https%3A%2F%2Fourrevolution.com%2Fpress%2Four-revolution-substantive-discussion"><span class="social-icon twitter-icon"></span> Share on Twitter</a>
          </div>
          <div class="col-sm-6">
            <a class="btn btn-facebook btn-block" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//ourrevolution.com/press/our-revolution-substantive-discussion" target="_blank"><span class="social-icon facebook-icon"></span> Share on Facebook</a>
          </div>
        </div>

        <p><strong>WASHINGTON</strong> --  <em>Our Revolution on Wednesday released the following statement ahead of the final presidential debate:</em></p>

        <p>"One of the most valuable lessons Sen. Bernie Sanders and his presidential campaign taught us was that it's possible to have substantive debates and inspire people to engage in the political process-- and it can be done with respect and dignity. More can be accomplished, together, if we commit ourselves to focusing on the issues.</p>

        <p>"Voters are smart and they care about how we're going to deal with the difficult realities they face every single day-- more than the personal lives of the candidates. Debates should provide the American public with the facts and let voters know where candidates stand, so they can make an informed decision on Election Day.</p>

        <p>"This election isn't just about Hillary Clinton or Donald Trump, it's about millions of Americans. It's about the future for 11 million people still living in the shadows and the thousands of people at risk of losing their jobs if the Trans-Pacific Partnership goes through. It's about the future of our Supreme Court, the future of our planet and how we plan to address climate change and invest in clean energy.</p>

        <p>"This election is also about the thousands of down-ballot candidates fighting on the grassroots level to ensure that the constituents in their own backyards see policy changes that reflect the need for economic, social, racial and environmental justice.</p>

        <p>"The progressive vision that fueled the political revolution deserves its moment on the stage, and we hope tonight's debate elevates the conversation and gives the American people the level of discourse they deserve."</p>
      </div>
    </section>
  </div>
</div>
