<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Announces Next Round of Endorsements</h1>
      <span class="article-date">September 13, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> -- Our Revolution on Tuesday announced its support for nine candidates running for positions in local and state legislatures and congressional seats around the country. The organization previously endorsed 70 progressive candidates, including State Sen. Patricia Jehlen and Mike Connolly, who won their Massachusetts primaries last week.</p>

        <p>“We must continue to fight for economic, social, racial and environmental justice—and this diverse group of progressive candidates have proven their commitment to the future of our country and their own communities,” said Executive Director Shannon Jackson. “We are proud to support these leaders, who are fighting at the grassroots level to respond to the needs of working families.”</p>

        <p><strong>Full list of candidates below:</strong></p>

        <h3>Iowa</h3>
        <p><strong>Chris Schwartz</strong> is running for Black Hawk County Board of Supervisors. Schwartz is focused on raising the minimum wage, criminal justice reform, protecting worker’s rights, improving public health and protecting the environment.</p>

        <p>To learn more about Schwartz, click <a href="/candidates/chris-schwartz">here</a>.</p>

        <h3>West Virginia</h3>
        <p><strong>Sabrina Shrader</strong> is running to represent District 27 in West Virginia’s House of Delegates. Shrader’s work as a social worker has allowed her to see “the other side of poverty” and better understand what needs to be done to help those struggling. Shrader has been endorsed by International Brotherhood of Teamsters Local 175, West Virginia AFL-CIO, West Virginia State Building and Construction Trades Council.</p>

        <p>To learn more about Schrader, click <a href="/candidates/sabrina-shrader">here</a>.</p>

        <h3>Washington</h3>
        <p><strong>Noel Frame</strong> is running for reelection after serving as State Representative for the 36th District since January 2016. Frame is focused on increasing access to affordable housing, making strong investments in public education, improving access to mental health services and criminal justice reform.</p>

        <p>To learn more about Frame, click <a href="/candidates/noel-frame">here</a>.</p>

        <h3>Michigan</h3>
        <p><strong>Ismael “Ish” Ahmed</strong> is running for Michigan State Board of Education. Ahmed served in former Michigan Gov. Jennifer Granholm’s administration as Director of the Michigan Department of Human Services. Ahmed is a co-founder of the Arab American National Museum and Arab Community Center for Economic and Social Services (ACCESS). Ahmed is focused on creating partnerships in his work to fight against inequality, racism, xenophobia, Islamophobia and sexism.</p>

        <p>To learn more about Ahmed, click <a href="/candidates/ismael-ahmed">here</a>.</p>

        <h3>Utah</h3>
        <p><strong>Misty Snow</strong> is running for U.S. Senate against Republican incumbent Mike Lee. Snow is the first openly transgender candidate to secure a major party’s nomination for Senate and would be the first woman elected to the Senate from Utah. Snow is committed to standing up for working class families and addressing income inequality and the disproportionate impact it has on women, people of color and the LGBT community.</p>

        <p>To learn more about Snow, click <a href="/candidates/misty-snow">here</a>.</p>

        <h3>Maine</h3>
        <p><strong>Troy Jackson</strong> is running to represent District 1 in the State Senate.  Jackson is a logger and former Democratic State Senator from Maine's 35th District. Jackson was first elected to the State Senate in 2008. Jackson is focused on increasing the minimum wage and ensuring health care for all.</p>

        <p>To learn more about Jackson, click <a href="/candidates/troy-jackson">here</a>.</p>

        <h3>California</h3>
        <p><strong>Jesse Arreguin</strong> is running for Mayor of the city of Berkeley. In 2008 Arreguin became the youngest person ever elected to the Berkeley City Council. Arreguin has served as Berkeley City Councilmember for the last seven years, and as a Planning Commissioner, Rent Board Chair, and Sierra Club Boardmember. Arreguin is focused on tackling the city’s affordability crisis and addressing disparities in health, housing, economic, and educational opportunity.</p>

        <p>To learn more about Arreguin, click <a href="/candidates/jesse-arreguin">here</a>.</p>

        <h3>California</h3>
        <p><strong>Eloise Reyes</strong> is running to represent the 47th State Assembly District. Reyes is an adjunct professor at Cal Poly Pomona. Reyes was the first Latina to open her own law firm in the Inland Empire.</p>

        <p>To learn more about Reyes, click <a href="/candidates/eloise-reyes">here</a>.</p>

        <h3>North Dakota</h3>
        <p><strong>Chase Iron Eyes</strong> is running for U.S. Representative for North Dakota's at-large district. Iron Eyes was raised on the Standing Rock Reservation and served as in-house counsel to various Tribal Nations in the Northern Plains. Iron Eyes has led a petition drive to rewrite the Tribal Constitution to empower communities and worked to create a private homeowner culture on the Reservation.</p>

        <p>To learn more about Iron Eyes, click <a href="/candidates/chase-iron-eyes">here</a>.</p>

      </div>
    </section>
  </div>
</div>
