<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Press Release</span>
      <h1>Our Revolution Statement on Rhode Island and New York Primary Wins</h1>
      <span class="article-date">September 14, 2016</span>
    </div>

    <section class="home-section">
      <div class="col-md-8 col-md-offset-2">
        <p><strong>WASHINGTON</strong> -- Our Revolution on Wednesday congratulated Marcia Ranglin-Vassell and Jeanine Calkin of Rhode Island and Anthony Eramo of New York on their primary victories.</p>

        <p>"Over the past week, candidates endorsed by Our Revolution have won important races in Massachusetts, Rhode Island and New York. Of the 10 races Our Revolution backed, eight progressive champions came away victorious. Three of those candidates took down incumbents who had been serving for 20 years or more," said Executive Director Shannon Jackson. </p>

        <p>In New York, Long Beach City Councilman Anthony Eramo won with 71 percent of the vote</p>

        <p>"We couldn't be more thrilled that Democrats on Long Island chose Anthony Eramo to represent them on the ballot this November," said Bill Lipton, New York State Director of the Working Families Party. "Anthony is a third-generation union member and he'll be a champion for working families in his district. That's why Our Revolution endorsed Anthony, that's why WFP chose Anthony to be a part of our Progressive Candidate Pipeline, and that's why we are so excited to be working together to send him to Albany next year. This is how we grow our revolution in New York: by electing candidates like Anthony who will fight for all New Yorkers, not Wall Street billionaires and wealthy campaign donors."</p>

        <p>In Rhode Island, Marcia Ranglin-Vassell defeated the House Majority Leader by 17 votes. Jeanine Calkin, who was inspired to run for office after volunteering for Sen. Bernie Sanders' presidential campaign, defeated an 11-term incumbent state senator.</p>

        <p>"These victories reflect the strength of the political revolution and proves that when people come together there is nothing they cannot accomplish," Jackson added. "We look forward to carrying this energy into the general and helping progressive candidates and ballot initiatives all over the country succeed."</p>
      </div>
    </section>
  </div>
</div>
