<div class="row">
  <div class="container">
    <div class="page-heading--press">
      <span class="article-type">Primary Day</span>
      <h1>Help Five Our Revolution Candidates Win Today</h1>
      <span class="article-date">August 30, 2016</span>
    </div>

    <section class="home-section candidate-showcase">
      <div class="col-md-8 col-md-offset-2">
        <h2>Martin Quezada</h2>
        <span class="office">Running for State Senate, Arizona 29</span>
        <p>Our Revolution endorsed Martín Quezeda because he embodies the ideals of the political revolution. Martín Quezeda is running to be a state senator in Arizona.</p>

        <p>Aside from his professional and political service to his community, Martín has been active as a volunteer and activist in many other roles in his community, including serving on the West Phoenix Revitalization Community Advisory Board and as the National Hispanic Caucus of State Legislators Chair of Criminal Justice Committee. You can help him win by voting today.</p>

        <a href="https://voter.azsos.gov/VoterView/PollingPlaceSearch.do" class="btn btn-secondary btn-block">Find Your Polling Place</a>

        <h2>Tim Canova</h2>
        <span class="office">Running for US Representative, Florida 23</span>
        <p>Tim Canova is running for Congress against Debbie Wasserman Schultz. He has challenged Wall Street banks and political corruption throughout his career and wants to take on the rigged systems that leave ordinary Americans behind.</p>

        <p>A victory for Tim Canova will send a clear message about the power of our grassroots movement that will send shockwaves through the political and media establishments. You can help him win by voting today.</p>

        <a href="https://gttp.votinginfoproject.org/" class="btn btn-secondary btn-block">Find Your Polling Place</a>

        <h2>Dwight Bullard</h2>
        <span class="office">Running for State Senate, Florida 40<span>
        <p>Senator Dwight Bullard is running for reelection to the Florida State Senate, where he has led the way on progressive education policies. Senator Bullard has been recognized by a number of groups in his state for his leadership in education, and he deserves reelection for the nomination. You can help him win by voting today.</p>

        <a href="https://gttp.votinginfoproject.org/" class="btn btn-secondary btn-block">Find Your Polling Place</a>

        <h2>Aaron Baumann</h2>
        <span class="office">Running for State Representative, Arizona 2</span>
        <p>Aaron Baumann is running to be a state representative in Arizona. He is a progressive who fights for education reform, immigrant rights, and government transparency. He will make an excellent representative for Arizona, and he deserves to win his nominating contest. You can help him win by voting today.</p>

        <a href="https://voter.azsos.gov/VoterView/PollingPlaceSearch.do" class="btn btn-secondary btn-block">Find Your Polling Place</a>

        <h2>Juan Mendez</h2>
        <span class="office">Running for State Senate, Arizona 26</span>
        <p>Rep. Juan Mendez is running to represent Arizonans in the State Senate. He is a first generation American with a passion for social justice. He knows the value of a strong public education and will fight for working families. You can help him win by voting today.</p>

        <a href="https://voter.azsos.gov/VoterView/PollingPlaceSearch.do" class="btn btn-secondary btn-block">Find Your Polling Place</a>
      </div>
    </section>
  </div>
</div>
