<div class="row">
  <div class="container home-section">
    <script type="text/javascript" src="https://tool.votinginfoproject.org/app.js"></script>
      <div id="_vit" style="margin:auto;"></div>
      <script type="text/javascript">vit.load({
          modal: true,
          officialOnly: false,
          title: 'Find Your Polling Location',
          width: '640px',
          height: '480px',
          logo: 'https://ourrevolution.com/img/favicon.png',
          colors: {
            'header': '#229acd',
            'landscapeBackgroundHeader': '#228a9d'
          },
          language: 'en',
      });</script>
  </div>
</div>
