// Buttons
.btn {
  font-weight: 700;
  height: 40px;
  padding: 10px 15px;
}

.btn-primary,
.btn-primary:visited {
  background-color: $green;
  color: white;
  border: 1px solid $green;
  outline: none;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover {
  background-color: darken($green, 8);
  color: white;
  border: 1px solid darken($green, 8);
  outline: none;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  border: 1px solid darken($green, 15);
  color: white;
  border: none;
  outline: none;
}

.btn-secondary,
.btn-secondary:visited {
  background-color: $blue;
  color: white;
  border: none;
  outline: none;
}

.btn-secondary:hover,
.btn-secondary:active:hover,
.btn-secondary.active:hover {
  background-color: darken($blue, 10);
  color: white;
  border: none;
  outline: none;
}

.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  background-color: darken($blue, 15);
  color: white;
  border: none;
  outline: none;
}

.btn-dark, .btn-dark:visited {
  background-color: darken($blue, 20);
  color: white;
  border: none;
  outline: none;
}

.btn-dark:hover,
.btn-dark:active:hover,
.btn-dark.active:hover {
  background-color: darken($blue, 25);
  color: white;
  border: none;
  outline: none;
}

.btn-dark:focus,
.btn-dark.focus,
.btn-dark:active,
.btn-dark.active {
  background-color: darken($blue, 30);
  color: white;
  border: none;
  outline: none;
}

.btn-donate,
.btn-donate:visited {
  background-color: $red;
  color: white;
  border: none;
  outline: none;
}

.btn-donate:hover,
.btn-donate:active:hover,
.btn-donate.active:hover {
  background-color: darken($red, 10);
  color: white;
  border: none;
  outline: none;
}

.btn-donate:focus,
.btn-donate.focus,
.btn-donate:active,
.btn-donate.active {
  background-color: darken($red, 15);
  color: white;
  border: none;
  outline: none;
}
