<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Combating Climate Change to Save the Planet</h2>

        <p>Climate change is the single greatest threat facing our planet. The debate is over, and the scientific jury is in: global climate change is real, it is caused mainly by emissions released from burning fossil fuels and it poses a catastrophic threat to the long-term longevity of our planet. If we do nothing, the planet will heat up five to ten degrees Fahrenheit by the end of this century. That would cause enough sea level rise from melting glaciers to put cities like New York and Miami underwater – along with more frequent asthma attacks, higher food prices, insufficient drinking water and more infectious diseases.</p>

        <p>But this isn’t just a problem for the future – the impacts of climate change are apparent here and now. Whether it’s more intense forest fires on the West Coast, or more frequent hurricanes in the Gulf Coast, or damaging flash floods in California, climate change is here and it’s already causing devastating human suffering. The worst part is this: people who live in low-income and minority communities will bear the most severe consequences of society’s addiction to fossil fuels.</p>

        <p>This is every kind of issue all at once: the financial cost of climate change makes it an economic issue, its effect on clean air and water quality make it a public health problem, its role in exacerbating global conflict and terrorism makes it a national security challenge and its disproportionate impacts on vulnerable communities and on our children and grandchildren make acting on climate change a moral obligation. We have got to solve this problem before it’s too late.</p>

        <h3>Why haven't we solved it yet?</h3>

        <p>Solving this should be straightforward. After all, the majority of Americans understand the seriousness of climate change, and they demand action. 97 percent of scientists agree about the urgent need to act and the vocal minority who don’t are bought and paid for by the fossil fuel industry. More and more countries around the world are beginning to do their part, by stepping up to significantly curb their use of fossil fuels to become part of the solution. If our democracy worked the way it’s supposed to, that would be enough – the debate would be over, the facts would be heard and lawmakers would obey the will of the people.</p>

        <p>But that’s where the billionaire class comes in. Instead of engaging on this issue in good faith and allowing democracy to play out, executives and lobbyists for coal, oil, and gas companies have blocked every attempt to make progress on climate change, and thrown unprecedented amounts of money at elected officials to buy their loyalty. Recent reporting even shows that executives at Exxon pioneered the research on climate change before anyone else did, but may have deliberately lied about it to spread disinformation and confusion to protect their bottom line. It’s eerily reminiscent of the fight over tobacco regulation, when executives from the tobacco companies repeatedly testified before Congress that cigarettes don’t cause cancer. Recently leaked internal documents show that even they knew they were lying.</p>

        <p>Let’s be clear: the reason we haven’t solved climate change isn’t because we aren’t doing our part, it’s because a small subsection of the one percent are hell-bent on doing everything in their power to block action. Sadly, they have deliberately chosen to put their profits ahead of the health of our people and planet.</p>

        <p>Here’s the good news: our society is already moving in the right direction. Solar panels cost 80 percent less than they did in 2008 and they’re popping up on rooftops everywhere. In fact, nearly a full quarter of the world’s electricity today comes from clean, sustainable resources like the sun and wind. The leaders of the seven major industrialized nations, including the United States, agreed in the summer of 2015 to a long-term goal of phasing out fossil fuels entirely and moving to an economy powered entirely by clean energy sources like wind, solar and geothermal. We’re already transitioning to a clean energy economy – but scientists say we need to do it faster and we need to do it right.</p>

        <p>Doing it right means ensuring that workers have the skills, equipment, and training they need to succeed in a clean energy economy. It also means workers need to be able to organize and advocate for good wages and safe working conditions. We know these workers do some of the most important work in America and we need to ensure without a doubt that their livelihoods will be helped – not hurt – by the transition to clean energy.</p>

        <p>The key is to stop funding the problem by subsidizing fossil fuels and instead accelerate our path to progress by showcasing our American innovation to accelerate the transition. This is important, because the support of the American people can make an enormous difference. In the 60’s, President Kennedy set a goal that many said was impossible – but by the end of that decade, Neil Armstrong had successfully taken his giant leap for humanity. Our government needs to think that big today and commit to prioritizing the transition to an economy powered by more than 80 percent clean energy sources by 2050. That starts with simple, commonsense steps: instead of subsidizing massive fossil fuel corporations, we can create millions of jobs for working families by investing in clean energy. The answer is clear and affordable. The solutions are within our reach – we just need average Americans to come together to make it happen.</p>

        <div class="sign-up-form">
          <h3>Together we can fight for a living wage.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
