<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Fighting for Women's Rights</h2>

        <p>Despite major advances in civil and political rights, our country still has a long way to go in addressing the issue of gender inequality. Many of the achievements that have been made for women’s rights in the 20th century have been under attack by the Republican party — denying women control over their own bodies, preventing access to vital medical and social services, and blocking equal pay for equal work.</p>

        <p>We are not going back to the days when women had to risk their lives to end an unwanted pregnancy. The decision about abortion must remain a decision for the woman and her doctor to make, not the government.</p>

        <p>We are not going to allow the extreme right-wing to defund Planned Parenthood, we are going to expand it. Planned Parenthood provides vital healthcare services for millions of women, who rely on its clinics every year for affordable, quality health care services including cancer prevention, STI and HIV testing and general primary health care services. The current attempt to malign Planned Parenthood is part of a long-term smear campaign by people who want to deny women in this country the right to control their own bodies.</p>

        <p>We are not going back to the days when women did not have full access to birth control. Incredibly, almost all of the Republicans in the Senate are in favor of giving any employer who provides health insurance, or any insurance company, the ability to deny coverage for contraception or any other kind of procedure if the employer had a “moral” objection to it. That is unacceptable.</p>

        <p>We will not go back to the days when survivors of domestic violence had no access to services or recourse against their abusers, because domestic violence was swept under the rug, as a shameful, private issue. Worse yet, it was not so long ago that spousal abuse was legal in many states. We must expand services provided through the Violence Against Women Act and the Family Violence Prevention and Services Act, and fight any attempts to undermine these laws.</p>

        <p>We are not going back to the days when it was legal for women to be paid less for doing the same work as men.</p>

        <p>It is wrong that women working full-time only earn 79 cents for every dollar a man earns. We have got to move forward and pass the Paycheck Fairness Act into law.</p>

        <p>And, not only are we going to expand policies that advance gender equality, we are going to fight to pass the long-overdue Equal Rights Amendment and vigorously defend the critical laws and programs which protect all working people in our country.</p>

        <p>At a time when elderly women are more likely than men to be living in poverty, not only do we say NO to cuts in Social Security, we will expand Social Security.</p>

        <p>When 35 million Americans lack health insurance, not only do we say NO to cuts in Medicare and Medicaid, we will expand these programs that are so important to families.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li><strong>Fight for pay equity for women. It is a national disgrace that women only earn 79 cents for every dollar a man earns.</strong> The gender pay gap is even worse for women of color. Today, African American women earn just 64 cents for every dollar a white male earns, while the figure for Hispanic women is just 54 cents.</li>

          <li><strong>Expand and protect the reproductive rights of women.</strong> Expand funding for Planned Parenthood, the Title X family planning program, and other initiatives that protect women’s health, access to contraception, and the availability of a safe and legal abortion.</li>

          <li><strong>Only nominate supreme court justices who support Roe v. Wade and the reproductive rights of women.</strong> Support Supreme Court justices who understand that Roe v. Wade is the law of the land and recognize the rights of women to have access to family planning services. </li>

          <li><strong>Make quality childcare and pre-k available to all Americans.</strong> Make high-quality childcare and Pre-K available to every American, regardless of income. It is unacceptable that the cost of a quality childcare program is out of reach for millions of Americans.</li>

          <li><strong>Increase the minimum wage to $15 an hour by 2020.</strong> According to the most recent statistics, women make up two-thirds of all minimum wage workers. Increasing the minimum wage to $15 an hour would significantly boost the wages of more than 15 million women and help close the gender wage gap. </li>

          <li><strong>Raise the tipped minimum wage to $15 an hour by 2023.</strong> The federal tipped minimum wage of just $2.13 an hour hasn’t been raised since 1991. More than two-thirds of tipped workers are women. Increasing the tipped minimum wage to $15 an hour by 2023 would lift millions of women out of poverty and significantly reduce the gender pay gap.</li>

          <li><strong>Provide at least 12 weeks of paid family leave, 2 weeks of family vacation, and one week of paid sick days to American workers.</strong> End the international embarrassment of the United States being the only major country on earth that does not guarantee paid leave to workers. The Republicans talk a lot about “family values.” Well, it is not a family value to force the mother of a newborn baby to go back to work a few days after she gives birth, because she doesn’t have the money to stay home and bond with her baby. That is not a family value. That is an insult to everything that we know a family is about. Require employers to provide at least 12 weeks of paid family and medical leave. At a time when over 65 percent of women work more than 40 hours a week, we must require employers to provide at least two weeks of paid vacation. And, we must require employers to provide at least one week of paid sick leave so that women can stay home to take care of a sick child, among other things.</li>

          <li><strong>Expand the WIC program for pregnant women, mothers and infants.</strong> Increase funding for this WIC so that every low-income mother and her children receive the nutrition they need to live healthy lives.</li>

          <li><strong>Make healthcare a right.</strong> Fight for a Medicare for All single-payer healthcare system to make healthcare a right for all Americans. If the United States joined every major country on earth and enacted a universal healthcare program, women would benefit the most. Today, women have much higher healthcare expenses than men and pay a greater portion of their healthcare costs out of their own pockets. Women make up two-thirds of the low-wage workforce and only about 23 percent of low-wage jobs provide health insurance. It is time for a Medicare for All single-payer healthcare system.</li>

          <li><strong>Expand social security.</strong> Fight to expand Social Security benefits by an average of $65 a month; increase cost-of-living-adjustments to keep up with rising medical and prescription drug costs; and expand the minimum Social Security benefit to lift seniors out of poverty. Women will benefit the most by expanding Social Security. More than twice as many elderly women lived in poverty than men in 2013. Without Social Security, nearly half of all elderly women would be living in poverty.</li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can fight for women's rights.</h3>

          {{>signupform source="issues/womens-rights" url="https://ourrevolution-bernie16.bsd.net/page/s/issues-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
