<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Fighting for Disability Rights</h2>
        <p>When the Americans with Disabilities Act (ADA) was passed 25 years ago, it was hailed as the world’s first comprehensive declaration of equality for people with disabilities. Today, as a result of this landmark legislation, millions of people with disabilities are no longer denied the opportunity to get on a bus, go to a decent school, make a decent living, attend a baseball game, and live successful and productive lives. Instead of being isolated and hidden from society, kids with disabilities are now in classrooms all over America and graduating from high school and college with the respect and admiration of their classmates, teachers, and families.</p>

        <p>This transformation in our culture and society did not happen by accident, and it did not happen overnight – it happened because a grassroots movement demanded change. Despite the progress that has been made over the past two decades, we unfortunately still live in a world where people with disabilities have fewer work opportunities and where the civil rights of people with disabilities are not always protected and respected.</p>

        <div class="sign-up-form">
          <h3>Together we can fight for disability rights.</h3>

          {{>signupform source="issues/disability-rights" url="https://go.ourrevolution.com/page/s/issues-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
