<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>War and Peace</h2>

        <h3>Foreign Policy: Strength Through Diplomacy</h3>
        <p>We believe that the test of a great and powerful nation is not how many wars it can engage in, but how it can resolve international conflicts in a peaceful manner. From the Middle East, to Ukraine, to North Korea, to the South China Sea, to civil war in the world’s newest nation – South Sudan, we face a multitude of serious foreign policy challenges.</p>

        <p>We should protect America, defend our interests and values, embrace our commitments to defend freedom and support human rights, and be relentless in combating terrorists who would do us harm. However, after nearly fourteen years of ill-conceived and disastrous military engagements in the Middle East, it is time for a new approach. We must move away from policies that favor unilateral military action and preemptive war, and that make the United States the de facto policeman of the world.</p>

        <p>We believe that foreign policy is not just deciding how to react to conflict around the world, but also includes redefining America’s role in the increasingly global economy. Along with our allies throughout the world, we should be vigorous in attempting to prevent international conflict, not just responding to problems. For example, the international trade agreements we enter into, and our energy and climate change policies not only have enormous consequences for Americans here at home, but greatly affect our relations with countries around the world.</p>

        <h3>Iraq and Afghanistan</h3>

        <p>We believe that the invasion in Iraq was one of the worst foreign policy blunders in modern U.S. history.</p>

        <p>6,700 brave men and women lost their lives in those wars, that too many came home without legs, arms or eyesight.</p>

        <p>500,000 servicemen and women returned home with PTSD and Traumatic Brain Injury, and that the war disrupted the lives of tens of thousands of families.</p>

        <h3>Preventing a Nuclear Iran</h3>

        <p>The U.S. must do everything it can to make certain that Iran does not get a nuclear weapon, that a nuclear Iran does not threaten Israel, and to prevent a nuclear arms race in the region.  We support the agreement between the U.S., Iran, Britain, China, France, Germany and Russia regarding Iran’s nuclear weapons program, because it has the best chance of limiting Iran’s ability to produce a nuclear weapon, while avoiding yet another war in the region.</p>

        <p>While the agreement is not perfect, it is far better than the path we were on – with Iran developing nuclear weapons and the potential for military intervention by the U.S. and Israel growing greater by the day. If Iran does not live up to the agreement, sanctions can be reestablished and all other options remain on the table. It is incumbent upon us, however, to give the negotiated agreement a chance to succeed, and we applaud President Obama and Secretary Kerry for their efforts.</p>

        <h3>Israel and Palestine</h3>

        <p>The Israeli-Palestinian conflict has been one of the world’s most difficult and intractable disputes for more than sixty years. Moreover, the failure to resolve that crisis has helped fuel other conflicts in the region. We support a two-state solution that recognizes Israel’s right to exist in peace and security, and the Palestinians right to a homeland in which they control their political and economic future.</p>

        <p>The U.S. must play a leading role in creating a two-state solution, which will require significant compromises from both sides. The Palestinians must unequivocally recognize Israel’s right to exist, and hold accountable those who have committed terrorist acts. The Israelis must end the blockade of Gaza, and cease developing settlements on Palestinian land. Both sides must negotiate in good faith regarding all other outstanding issues that stand in the way of a durable and lasting peace in the region. In the meantime, strict adherence, by all sides, to the tenets of international humanitarian law is necessary in order to avoid escalating the conflict yet again.</p>

        <h3>Combating Terrorism</h3>

        <p>We live in a dangerous world full of serious threats, perhaps none more so than the Islamic State of Iraq and Syria (ISIS) and al-Qaeda. But we cannot combat international terrorism alone. We must work with our allies to root out terrorist funding networks, provide logistical support in the region, disrupt online radicalization, provide humanitarian relief, and support and defend religious freedom. Moreover, we must begin to address the root causes of radicalization, instead of focusing solely on military responses to those who have already become radicalized.</p>

        <p>And while there is no question our military must be fully prepared and have the resources it needs to fight international terrorism, it is imperative that we take a hard look at the Pentagon’s budget and the priorities it has established. The U.S. military must be equipped to fight today’s battles, not those of the last war, much less the Cold War. Our defense budget must represent our national security interests and the needs of our military, not the reelection of members of Congress or the profits of defense contractors. The warning that President Dwight David Eisenhower gave us about the influence of the Military-Industrial Complex in 1961 is truer today than it was then.</p>

        <h3>Protecting American and American Values</h3>

        <p>We believe  our country must remain vigilant to protect us from terrorist attacks at home, whether from organized international terrorist networks, or from “lone wolf” extremists.</p>

        <p>We must rein in the National Security Agency and end the bulk collection of phone records, internet history, and email data of virtually all Americans.Our intelligence and law enforcement agencies must have the tools they need to protect the American people, but there must be legal oversight and they must go about their work in a way that does not sacrifice our basic freedoms.</p>

        <p>The same goes for our actions abroad. The U.S. must never again embrace torture as a matter of official policy. In an increasingly brutal world, the wanton use of torture by the Bush administration simply meant we lost our moral standing to condemn others who engage in merciless behavior. We must also, finally, close the Guantanamo Bay detention center. The mere existence of this camp, and the misguided policies that led to its creation, continues to damage the United States’ moral standing in the world, undermines our foreign policy, and fans the flames of terrorism rather than deters it.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li>Move away from a policy of unilateral military action, and toward a policy of emphasizing diplomacy, and ensuring the decision to go to war is a last resort.</li>
          <li>Ensure that any military action we do engage in has clear goals, is limited in scope, and whenever possible provides support to our allies in the region.</li>
          <li>Close Guantanamo Bay, rein in the National Security Agency, abolish the use of torture, and remember what truly makes America exceptional: our values.</li>
          <li>Expand our global influence by promoting fair trade, addressing global climate change, providing humanitarian relief and economic assistance, defending the rule of law, and promoting human rights.</li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can fight for better foreign policy.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
