<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Caring for Our Veterans</h2>
        <p>As a nation, we have a moral obligation to provide the best quality care to those who have put their lives on the line to defend us.

        <p>Just as planes and tanks and guns are a cost of war, so is taking care of the men and women who we sent off to fight the war. It includes caring for the spouses and children who have to rebuild their lives after the loss of a loved one. It includes caring for the hundreds of thousands of veterans with multiple amputations or loss of eyesight, post-traumatic stress disorder and traumatic brain injury. It includes veterans who are having difficulty keeping jobs in order to pay their bills, and it includes the terrible tragedy of veterans committing suicide. </p>

        <p>Reports of unacceptable wait times at many VA medical facilities means that not all veterans have access to timely health care.</p>

        <p>More doctors and nurses are needed to care for the surging number of veterans returning from wars in Iraq and Afghanistan.
        We must do more to expand veterans’ benefits by making comprehensive dental care available and by expanding caregiver provisions. We must do more to meet the mental health needs of our veterans, especially those who have served in harm’s way. We must fully restore cuts to military pensions that were insisted upon by Republicans in the last budget deal.</p>

        <p>We must end the travesty of veterans’ homelessness. While huge gains have been made over the past six years, the fact that on any given night there are fifty thousand homeless veterans on the street is a national disgrace. We also need to make further improvements to the VA disability claims process, which while significantly streamlined, still takes far too long for many veterans.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li>Fully fund and expand the VA so that every veteran gets the care that he or she has earned and deserves.</li>

          <li>Substantially improve the processing of Veterans’ claims for compensation.</li>

          <li>Expand the VA’s Caregivers Program.</li>

          <li>Expand mental health service for Veterans.</li>

          <li>Make comprehensive dental care available to all veterans at the VA.</li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can fight for our Veterans.</h3>

          {{>signupform source="issues/caring-for-our-veterans" url="https://ourrevolution-bernie16.bsd.net/page/s/issues-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
