<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Working to Create an AIDS and HIV-Free Generation</h2>
        <p>Today, one of the biggest problems in caring for the 1.2 million Americans living with HIV is the crisis of access to affordable drugs.</p>

        <p>One of the great moral issues of our day is that people with HIV and AIDS are suffering and, in some cases, dying in America because they can’t afford to pay the outrageous prices being charged for the medicine they need to live.</p>

        <p>It is indefensible that even with insurance and rebates, a person with HIV must spend thousands of dollars per year just on prescription drugs — often leaving them unable to afford decent housing or other necessities — all while profiteering companies continue to jack up the price of these treatments overnight, simply because they can.</p>

        <p>Instead of focusing on public health and the public good, drug companies are focused on padding the pockets of their shareholders and top executives. That has got to change.</p>

        <p>In the richest nation in the world, we must not tolerate a health care system that offers the best care to the rich, while leaving everyone else to fend for themselves. We must do everything possible to end the greed of the pharmaceutical companies and get people the medicine they need at a price they can afford.</p>

        <p>We must do everything we can to end the HIV and AIDS epidemic. The good news is that San Francisco, New York and other urban areas are making significant progress in combating HIV and AIDS.</p>

        <p>The bad news is that nationally we have not seen an improvement in the 50,000 avoidable HIV infections that are taking place each and every year. Tragically, in some regions of the country, the epidemic has gotten even worse. In the year 2016, we have got to do much better than that.</p>

        <p>We now have all of the tools we need to end AIDS deaths and HIV transmissions. Now, we need the political will to do it.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li>UNIVERSAL HEALTH CARE. Healthcare is a right, not a privilege. To truly ensure every American has access to quality, affordable health care, we need to fight for a Medicare-for-all, single payer system. Until that happens, we must make sure insurance companies and providers are not discriminating against those with HIV/AIDS, including when it comes to drug coverage.</li>

          <li>EXPANDING SUBSTANCE USE AND MENTAL HEALTH SERVICES FOR PEOPLE LIVING WITH HIV/AIDS AND AT RISK FOR HIV. We need to build on the implementation of President Obama’s National HIV/AIDS Strategy by significantly expanding access to mental health and substance use disorder services by protecting and expanding community health centers, which provide key behavioral health and substance abuse services to more than 1.3 million patients. We must also support access to mental health services at community mental health centers.</li>

          <li>EXPANDING THE RYAN WHITE HIV/AIDS PROGRAM. We need to fight to expand the highly successful Ryan White HIV/AIDS program which provides HIV-related services for those who do not have sufficient health care coverage or financial resources. It was unacceptable that at the height of the Wall Street crash, many states had long waiting lists for the AIDS Drug Assistance Program. Especially when so many people were losing their jobs and their life savings, people should not have had to wait for the life-saving treatment they needed.</li>

          <li>EXPANDING SERVICES FOR ALL—PREVENTION AND TREATMENT BEYOND HEALTH CARE. In the year 2016, it is unacceptable that a person could be fired or denied housing in many states based on sexual orientation, gender identity, or health status. We should  push for legislation that would expand civil rights protections to all LGBT individuals and those living with HIV/AIDS.</li>

          <li>EXPANDING THE PRESIDENT’S EMERGENCY PLAN FOR AIDS RELIEF (PEPFAR) AND ENDING THE AIDS EPIDEMIC. We need to fight to end the AIDS epidemic by doubling the number of people on HIV treatment worldwide by 2020. The President’s Emergency Plan for AIDS Relief (PEPFAR) has been an incredibly successful program, currently supporting antiretroviral treatment for more than 9.5 million people. But that is only a fraction of those worldwide who need treatment. More than 22 million people with HIV/AIDS do not have access to the medicine and support services they need. </li>

          <li>STOPPING BAD TRADE AGREEMENTS LIKE THE TRANS-PACIFIC PARTNERSHIP THAT WOULD SUBSTANTIALLY INCREASE PRICES FOR HIV/AIDS DRUGS. A major reason why the fight against the disastrous Trans-Pacific Partnership (TPP) is important is because it would significantly increase prices for HIV/AIDS drugs for some of the most desperate people in the world. At a time when prescription drug prices are skyrocketing, the TPP would make a bad situation even worse by granting new monopoly rights to big pharmaceutical companies to deny access to lower cost generic drugs to millions of people.</li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can beat AIDS and HIV.</h3>

          {{>signupform source="issues/aids-and-hiv" url="https://go.ourrevolution.com/page/s/issues-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
