<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Ending the Humanitarian Crisis in Puerto Rico</h2>
        <p>Puerto Rico’s debt crisis and harsh austerity measures are making a very difficult economic situation even worse. Today, more than 45 percent of the Puerto Rican people are living in poverty, and the childhood poverty rate is a staggering 56 percent. Meanwhile, the official unemployment is more than 12.5% — more than twice the national average – and real unemployment is much higher still. It is no wonder that an estimated 84,000 thousand people fled the island last year, and more than 1,000 are moving to Florida every week. The crisis is not only causing suffering and despair for Puerto Ricans living on the island, but is impacting their families on the U.S. mainland. This situation will spiral even further out of control if no adequate plan of action is implemented.</p>

        <p>We must fight to give Puerto Rico the same Chapter 9 bankruptcy protections that exist for municipalities in the United States. Puerto Rico should be able to restructure its debt in a rational and organized way that protects its people without harming ordinary investors and pension funds in the United States.</p>

        <p>Auditing Puerto Rico’s debt to investigate whether it was incurred legally. If any debt was issued to creditors in violation of Puerto Rico’s Constitution, it must be immediately set aside.
        Reversing austerity measures that have harmed children, senior citizens, and the most vulnerable people in Puerto Rico.</p>

        <p>Creating new jobs and making Puerto Rican businesses more competitive in the global economy by enacting a national jobs program to rebuild our crumbling infrastructure. Bernie Sanders’ Rebuild America Act would create more than 150,000 good-paying jobs in Puerto Rico and put 13 million people to work all over the U.S. This plan would help rebuild Puerto Rico’s crumbling roads and bridges, improve its ports, upgrade its drinking water and wastewater plants, and fortify flood control projects. It would also improve public transportation within cities like San Juan, Ponce, Bayamon, and Carolina, modernize Puerto Rico’s aging electric grid and expand high-speed broadband networks all across the island.</p>

        <p>Empowering the People of Puerto Rico to Decide Their Own Destiny
        We must fight for a U.S. congressionally-sanctioned and binding referendum where the Puerto Rican people would be able to decide on whether to become a state, an independent country, or to reform the current Commonwealth agreement. This is an issue that should be decided by the Puerto Rican people.</p>

        <h3>Clean Energy and Environment</h3>
        <p>We must move aggressively away from fossil fuels toward energy efficiency and sustainable energy production. Puerto Rico is blessed with abundant solar and wind resources, and has great potential to expand biomass and geothermal energy. The island also is well-positioned to develop cutting edge marine and hydrokinetic renewable energy, as well as oceanic thermal energy. Yet, 99 percent of Puerto Rico’s energy mix currently comes from imported oil that is extraordinarily expensive for the Puerto Rican people and awful for the environment.</p>

        <p>We must expand and make permanent tax incentives for renewable energy, and his climate plan would tax carbon and use the revenue to make significant investments in wind, solar, and geothermal energy. Updating Puerto Rico’s energy system is also critically important in terms of addressing the island’s debt crisis, since the single largest debt – more than $9 billion – is owed by the Puerto Rico Electric Power Authority.</p>

        <p>We need to end toxic pollution from incinerators by closing loopholes that treat trash as a “fuel” instead of “solid waste.” This is of particular importance in regards to the proposed construction of a 2,100-ton-per-day municipal solid waste incinerator in the north coast municipality of Arecibo.</p>

        <p>We also need to ensure that federal environmental and public health laws are enforced. The Martin Peña Canal in downtown San Juan is severely polluted, with a fecal content 60 times greater than the EPA water-quality standard. The pollution has caused a tremendous amount of disease and distress in the heavily populated area – with between 26,000 and 30,000 residents affected by the urban waterway in an area where most of San Juan’s labor force resides.</p>

        <h3>Vieques</h3>
        <p>We need to pay particular attention to the pressing needs in Vieques, including environmental clean-up, raising the quality of life and health on the island, and improving socioeconomic development. The alarming rates of cancer and other serious health conditions on Vieques – very possibly linked to the now closed U.S. Naval bombing range – must be addressed and the environmental damage caused by the range fully remediated. As one of the poorest municipalities in Puerto Rico, Vieques must have access to the same economic development opportunities as the rest of Puerto Rico.</p>

        <h3>Education</h3>
        <p>It is counter-productive to the best interests of our country and our future that Puerto Rico’s bright young people cannot afford to go to college, and that so many who do pursue higher education leave school with a mountain of debt that burdens them for decades. That shortsighted path to the future must end.</p>

        <p>We will fight to make sure that every American who studies hard in school can go to college without going deeply into debt, regardless of how much money their parents make.</p>

        <p>A College-for-All plan would:</p>

        <ul>
          <li>Make public colleges and universities tuition free.</li>
          <li>Cut new student loan interest rates almost in half.</li>
          <li>Allow students with existing student loan debt to refinance their loans at lower rates.</li>
          <li>Triple funding for the work study program to provide income and experience for college students.</li>
        </ul>

        <h3>Health Care</h3>
        <p>Health care is a right, not a privilege. We will fight for a single payer, Medicare-for-all plan which would cover everyone and apply equally to states and territories, including Puerto Rico.</p>

        <div class="sign-up-form">
          <h3>Together we can fight for Puerto Rico.</h3>

          {{>signupform source="issues/puerto-rico" url="https://ourrevolution-bernie16.bsd.net/page/s/issues-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
