<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Empowering Tribal Nations</h2>
        <p>Native Americans are the first Americans, yet they have for far too long been treated as third class citizens.  It is unconscionable that today, in 2016, Native Americans still do not always have the right to decide on important issues that affect their communities.  The United States must not just honor Native American treaty rights and tribal sovereignty, it must also move away from a relationship of paternalism and control and toward one of deference and support.  The United States has a duty to ensure equal opportunities and justice for all of its citizens, including the 2.5 million Native Americans that share this land.  It is no secret that this isn’t the case today.</p>

        <h3>The Statistics are Staggering</h3>
        <p>Native Americans continue to face appalling levels of inequality and systemic injustice. One in four Native Americans are living in poverty and the high school graduation rate is 67 percent, the lowest of any racial demographic group. The second leading cause of death for Native Americans between the ages of 15-24 is suicide. One in three Native women will be raped in her lifetime; most of the offenders are non-Native. Most federal programs for tribal nations are underfunded, which has led to inadequate housing, healthcare, education, and law enforcement. Native Americans have a much lower life expectancy and higher uninsured rates than the population at large, and even those who have health insurance often have difficulty accessing the care they need.</p>

        <p>Although Native American tribes are supposed to be sovereign nations with the right to self-governance, the United States has greatly exacerbated the struggles of Indian Country because of its failure to support basic principles of self-determination. Native Americans are more likely to be killed by police than any other racial group and the rate of violent crime against them is twice the national average. Yet, because the federal courts have chipped away at tribal sovereignty, tribal nations are often unable to prosecute criminal offenders for violent crimes that occur within tribal borders. Tribal governments are distinct sovereigns, and should be recognized as such – they must have the autonomy and authority to protect their own peoples.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <ul class="solution-list">
          <li>Support Tribal Sovereignty and Tribal Jurisdiction: Tribes must have the ability to prosecute non-Native people who commit crimes on tribal land, and have greater jurisdiction over prosecuting all crimes, including family disputes. We need to encourage the continual development of the U.S. Department of Justice Tribal Access Program for National Crime Information to provide tribes with access to national crime information systems for both civil and criminal purposes.</li>

          <li>Uphold the Trust Responsibility: We must honor the treaties and federal statutes that are the foundation of the trust relationship. We need to maintain a White House Policy Advisor for Native American Affairs to ensure that tribal issues are consistently addressed and coordinated throughout the federal government.</li>

          <li>Improve Housing: fight for increased local control over the administration and operation of tribal housing programs and for full funding of the Indian Housing Block Grant Program.</li>

          <li>Strengthen Education: In order to create economic opportunities, we must invest in education from early childhood through higher education. We must fight to fully fund the Bureau of Indian Education and strengthen self-determination to enable culturally tailored learning, unique to each tribal nation, and help to retain qualified teachers for Native youth. We should build upon the “all of government,” integrated work of the Generation Indigenous initiative to ensure that every Native American child can reach their full potential. We should fight for plans that allow students to refinance federal debt, lower interest rates, triples federal work-study jobs, and provides for free college tuition at all public colleges and universities.</li>

          <li>Improve Healthcare: healthcare is a right. We should support a Medicare-for-all system that would complement the healthcare provided by the Indian Health Service. We need to work to fully fund the Indian Health Service, strengthen regional management and recruitment of committed IHS health care personnel, demand audits of IHS operations, and ensure that Native Americans have adequate, safe, and affordable access to primary care providers, including oral health and mental health practitioners and substance abuse treatment options.
          Restore Tribal Lands: All tribes must have the right to protect and restore their lands. We support streaming the land-into-trust process and work to reverse the Carcieri Supreme Court decision that resulted in an unjust two-tier system of tribes.</li>

          <li>Advance Economic Development: we support economic development in Indian Country and believe in investing in infrastructure. We believe we should investment to upgrade our roads and bridges, drinking water and wastewater, freight and passenger rail, and electric, telecommunications and broadband networks, and more.  This effort will create and maintain millions of jobs across the country. The investment would go a long way to address the “digital divide,” because lack of internet access means Native American communities are at risk of falling even further behind in their ability to access employment, educational, and other opportunities made available by modern information technology.  Lastly, all federal grants open to state and local governments will also be open to tribes.</li>

          <li>Protect Sacred Places and Native American Cultures: Native Americans must be empowered to maintain and pass on traditional religious beliefs, languages and social practices without fear of discrimination or suppression.  Native children are the future of tribal nations; the Indian Child Welfare Act is critical to survival and must be enforced with the original intent of the law. Further, tribal cultures, sacred places, religious practices, and landscapes must be federally protected.</li>

          <li>Expand Consultation: Examine the Executive Order 13175 “Consultation and Coordination with Indian Tribal Governments,” to ensure that consultation means more than mere listening sessions.  Moreover, all voices — tribal leadership and grassroots alike — must be heard.  Expand the annual White House Tribal Nations Conference that brings tribal leaders, cabinet members and the White House together to find solutions to common problems.</li>

          <li>Promote Voting Rights: stand with Native Americans to fight for Indian voting rights, and defend the franchise in minority communities across the country.</li>

          <li>Fight Racism: end the scourge of bias and discrimination against Native peoples. A good place to start is by eliminating offensive school and sports mascots that reflect outdated stereotypes and perpetuate racism against Native Americans.</li>

          <li>Fight Climate Change and Promoting Environmental Protection: For instance, Sen. Bernie Sanders’ climate change plan to transition away from fossil fuels to a 100 percent clean energy system is a plan that we support. We must end fracking for natural gas and mountaintop removal coal mining.</li>
          </li>
        </ul>

        <div class="sign-up-form">
          <h3>Together we can fight for Native Americans.</h3>

          {{>signupform source="issues/empowering-tribal-nations" url="https://go.ourrevolution.com/page/s/issues-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
