<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h3>Physical Violence</h3>
        <h4>Perpetrated by the State</h4>

        <p>Sandra Bland, Michael Brown, Rekia Boyd, Eric Garner, Walter Scott, Freddie Gray, Jessica Hernandez, Tamir Rice, Jonathan Ferrell, Oscar Grant, Antonio Zambrano-Montes, Samuel DuBose and Anastacio Hernandez-Rojas. We know their names. Each of them died unarmed at the hands of police officers or in police custody. The chants are growing louder. People are angry and they have a right to be angry. We should not fool ourselves into thinking that this violence only affects those whose names have appeared on TV or in the newspaper. African-Americans are twice as likely to be arrested and almost four times as likely to experience the use of force during encounters with the police. African-American and Latinos comprise well over half of all prisoners, even though African-Americans and Latinos make up approximately one quarter of the total US population.</p>

        <h4>Perpetrated by Extremists</h4>
        <p>We are far from eradicating racism in this country. Today in America, if you are black, you can be killed for getting a pack of Skittles during a basketball game. Or murdered in your church while you are praying. This violence fills us with outrage, disgust and a deep, deep sadness. These hateful acts of violence amount to acts of terror. They are perpetrated by extremists who want to intimidate and terrorize black, brown and indigenous people in this country.</p>

        <h3>Political Violence</h3>
        <h4>Disenfranchisement</h4>
        <p>In the shameful days of open segregation, literacy laws and poll taxes were used to suppress minority voting. Today, through other laws and actions — such as requiring voters to show photo ID, discriminatory drawing of Congressional districts, restricting same-day registration and early voting and aggressively purging voter rolls — states are taking steps which have a similar effect.</p>

        <p>The patterns are unmistakable. 11 percent of eligible voters do not have a photo ID—and they are disproportionately black and Latino. In 2012, African-Americans waited twice as long to vote as whites. Some voters in minority precincts waited upwards of six or seven hours to cast a ballot. Meanwhile, thirteen percent of African-American men have lost the right to vote due to felony convictions.</p>

        <p>Yet in 2013, the Supreme Court struck down a key part of the seminal Voting Rights Act, even while saying “voting discrimination still exists; no one doubts that.”</p>

        <p>This should offend the conscience of every American.</p>

        <p>The fight for minority voting rights is a fight for justice. It is inseparable from the struggle for democracy itself.</p>

        <h3>Legal Violence</h3>
        <p>Millions of lives have been destroyed because people are in jail for nonviolent crimes. For decades, we have been engaged in a failed “War on Drugs” with racially-biased mandatory minimums that punish people of color unfairly.</p>

        <p>It is an obscenity that we stigmatize so many young Americans with a criminal record for smoking marijuana, but not one major Wall Street executive has been prosecuted for causing the near collapse of our entire economy. This must change.</p>

        <p>If current trends continue, one in four black males born today can expect to spend time in prison during their lifetime. Blacks are imprisoned at six times the rate of whites and a report by the Department of Justice found that blacks were three times more likely to be searched during a traffic stop, compared to white motorists. Together, African-Americans and Latinos comprised 57 percent of all prisoners in 2014, even though African-Americans and Latinos make up approximately one quarter of the US population. These outcomes are not reflective of increased crime by communities of color, but rather a disparity in enforcement and reporting mechanisms. African-Americans are twice as likely to be arrested and almost four times as likely to experience the use of force during encounters with the police. This is an unspeakable tragedy.</p>

        <p>It is morally repugnant that we have privatized prisons all over America. Corporations should not be allowed to make a profit by building more jails and keeping more Americans behind bars. We have got to end the private for-profit prison racket in America.</p>

        <p>The measure of success for law enforcement should not be how many people get locked up. We need to invest in drug courts as well as medical and mental health interventions for people with substance abuse problems, so that people struggling with addiction do not end up in prison, they end up in treatment.</p>

        <p>For people who have committed crimes that have landed them in jail, there needs to be a path back from prison. The federal system of parole needs to be reinstated. We need real education and real skills training for the incarcerated.</p>

        <p>We must end the over-incarceration of nonviolent young Americans who do not pose a serious threat to our society. It is an international embarrassment that we have more people locked up in jail than any other country on earth – more than even the Communist totalitarian state of China. That has got to end.</p>

        <p>We must address the lingering unjust stereotypes that lead to the labeling of black youths as “thugs” and “super predators.” We know the truth that, like every community in this country, the vast majority of people of color are trying to work hard, play by the rules and raise their children. It’s time to stop demonizing minority communities.</p>

        <p>In many cities all over our country, the incentives for policing are upside down. Departments are bringing in substantial sums of revenue by seizing the personal property of people who are suspected of criminal involvement. So-called civil asset forfeiture laws allow police to take property from people even before they are charged with a crime, much less convicted of one. Even worse, the system works in a way that makes it very difficult and expensive for an innocent person to get his or her property back. We must end programs that actually reward officials for seizing assets without a criminal conviction or other lawful mandate. Departments and officers should not profit off of such seizures.</p>

        <p>Local governments that rely on tickets and fines to pay bills can become dependent on implicit quotas for law enforcement. When policing is a source of revenue tied to the financial sustainability of agencies, officers are pressured to meet internal goals which can lead to unnecessary or unlawful traffic stops and citations which disproportionately affect people of color. Implicit quota systems promote racial stereotyping and breed distrust between officers and communities of color.</p>

        <p>Furthermore, we must ensure police departments are not abusing avenues of due process to shield bad actors from accountability. Local governments and police management must show zero tolerance for abuses of police power at all levels. All employees of any kind deserve due process protections, but it must be clear that departments will vigorously investigate and, if necessary, prosecute every allegation of wrongdoing to the fullest extent.</p>

        <h3>Economic Violence</h3>
        <p>It is necessary to try to address the rampant economic inequality while also taking on the issue of societal racism. We must simultaneously address the structural and institutional racism which exists in this country, while at the same time we vigorously attack the grotesque level of income and wealth inequality which is making the very rich much richer while everyone else — especially those in our minority communities – are becoming poorer.</p>

        <p>In addition to the physical violence faced by too many in our country we need to look at the lives of black children and address some difficult facts. Black children, who make up just 18 percent of preschoolers, account for 48 percent of all out-of-school suspensions before kindergarten. We are failing our black children before kindergarten. Black students are expelled at three times the rate of white students. Black girls are suspended at higher rates than all other girls and most boys. According to the Department of Education, African-American students are more likely to suffer harsh punishments — suspensions and arrests — at school. Black students attend schools with higher concentrations of first-year teachers when compared with white students. Black students are more than three times as likely to attend schools where fewer than 60 percent of teachers meet all state certification and licensure requirements.</p>

        <p>Communities of color also face the violence of economic deprivation. Let’s be frank: neighborhoods like those in west Baltimore, where Freddie Gray resided, suffer the most. However, the problem of economic immobility isn’t just a problem for young men like Freddie Gray. Despite hard-work and the will to get ahead, millions of Americans spend their entire lives struggling to survive on the economic treadmill.</p>

        <p>We live at a time when most older workers have no retirement savings, and millions of working adults have no idea how they will ever retire in dignity. An unforeseen car accident, a medical emergency, or the loss of a job could send their lives into an economic tailspin. And the problems are even more serious when we consider race.</p>

        <p>Let us not forget: It was the greed, recklessness and illegal behavior on Wall Street that nearly drove the economy off of a cliff seven years ago. While millions of Americans lost their jobs, homes, life savings and ability to send their kids to college, African-Americans who were steered into expensive subprime mortgages were the hardest hit.</p>

        <p>Most black and Latino households have less than $350 in savings. The black unemployment rate has remained roughly twice as high as the white rate over the last 40 years, regardless of education. Real African-American youth unemployment is over 50 percent. African-American women earn 64 cents for every dollar white men make. This is unacceptable. The American people in general want change — they want a better deal. A fairer deal. A new deal. They want an America with laws and policies that truly reward hard work with economic mobility. They want an America that affords all of its citizens with the economic security to take risks and the opportunity to realize their full potential.</p>

        <h3>Environmental Violence</h3>
        <h4>Perpetrated by Polluting Industries</h4>

        <p>People of color disproportionately experience a daily assault on their health and environment. Communities of color are the hardest hit by air and water pollution from industrial factories, power plants, incinerators, chemical waste and lead contamination from old pipes and paint. At the same time, they lack access to parks, gardens and other recreational green space.</p>

        <p>Like income inequality, environmental inequality is rapidly growing in the United States.</p>

        <p>Black children are five times more likely than white children to have lead poisoning. Indigenous peoples are impacted disproportionately by destructive mining practices and the dumping of hazardous materials on their lands. As demonstrated by Hurricane Katrina, poor communities of color have a harder time escaping, surviving and recovering from climate-related disasters. Taken together, it is clear that people of color experience a disparate exposure to environmental hazards where they “work, live, and play.”</p>

        <p>Nationwide, the health of communities is consistently ignored in favor of the profits of corporate polluters. The fact that people of color breathe 46 percent more nitrogen dioxide —which causes respiratory diseases and heart conditions — than whites helps explain why one in six African-American kids has asthma.</p>

        <p>The environmental violence being inflicted on people of color who are denied the full rights of citizenship — especially migrant workers and new immigrants — is especially pronounced. Low-income Latino immigrants are more likely to live in areas with high levels of hazardous air pollution than anyone else. In fact, the odds of a Latino immigrant neighborhood being located in an area of high toxic pollution is one in three.</p>

        <p>Latinos and African-Americans are more likely to work in hazardous jobs that place them at higher risk for serious occupational diseases, injuries and muscular-skeletal disabilities. The fatality rate among Latino workers is 23 percent higher than the fatal injury rate for all US workers. Often reluctant to complain about poor working conditions for fear of deportation or being fired, Mexican migrant workers are nearly twice as likely as the rest of the immigrant population to die at work. This is unacceptable and must be addressed.</p>

        <p>Taken together, these injustices are largely the product of political marginalization and institutional racism. The less political power a community of color possesses, the more likely they are to experience insidious environmental and human health threats. The environmental violence being inflicted on these communities of color is taking a terrible toll, and must be made a national priority. Access to a clean and healthy environment is a fundamental right of citizenship. To deny such rights constitutes an environmental injustice that should never be tolerated.</p>

        <div class="sign-up-form">
          <h3>Together we can fight for racial justice.</h3>

          {{>signupform}}
        </section>
      </div>
    </div>
  </div>
</div>
