<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Creating Decent Paying Jobs</h2>
        <p>For most of our history, the U.S. proudly led the world in building infrastructure that grew our economy, gave our businesses a competitive advantage, and provided our workers a decent standard of living. Sadly, that is no longer the case.</p>

        <p>Today, the U.S. spends less than 2 percent of GDP on infrastructure, less than at any point in the last twenty years. Meanwhile, Europe spends close to twice our rate, and China spends close to four times our rate.  It is no wonder the World Economic Forum’s Global Competitiveness Report now ranks our overall infrastructure at 12th in the world – down from 7th place just a decade ago.</p>

        <p>The results are all around us:
        One of every 9 bridges in our country is structurally deficient, and nearly a quarter are functionally obsolete. Almost one-third of our roads are in poor or mediocre condition, and more than 42 percent of all urban highways are congested.  Transit systems across the country struggling to address deferred maintenance and 45% of American households lack any meaningful access to transit at all.</p>

        <p>For Instance, one solution we support is Senator Bernie Sanders’ Rebuild America Act that would more than double the current level of funding for the highway and transit accounts of the Highway Trust Fund, and would create a National Infrastructure Bank to leverage private capital to finance more than $125 billion in new projects.</p>

        <p>Much of our nation’s rail network is obsolete, even though our energy-efficient railroads move more freight than ever and Amtrak’s ridership has never been higher. While we debate the merits of high-speed rail, countries across Europe and Asia have gone ahead and built vast high-speed rail networks with trains that run at 125-200 miles per hour.  Meanwhile, the Acela – Amtrak’s fastest train – travels at an average speed of just 65 miles per hour.
        The Rebuild America Act will invest $75 billion to upgrade our passenger and freight rail lines, to move people and goods more quickly and efficiently. It’s time for America to catch up with the rest of the world.</p>

        <p>America’s airports are bursting at the seams as the numbers of passengers and cargo have grown to all-time highs.   Moreover – and rather incredibly – our airports still rely on antiquated 1960s radar technology, because we have chronically underfunded a new satellite-based air traffic control system.
        The Rebuild America Act will invest $12.5 billion to improve airports across the country, and $17.5 billion to bring our air traffic control system into the 21st century by accelerating deployment of NextGen technology to make our skies safer and our airports more efficient.</p>

        <p>Bottlenecks at our marine seaports – which handle 95% of all overseas imports and exports –prevent goods from getting to their destinations on time. The same is true for our inland waterways – which carry the equivalent of 50 million truck trips of goods each year.</p>

        <p>The Rebuild America Act will invest an additional $15 billion over five years to clear the backlog of projects to improve inland waterways, coastal harbors and shipping channels.  Our businesses simply can’t compete in the global economy if they can’t move their goods and supplies to, from and within our country more efficiently.</p>

        <p>Right now, more than 4,000 of the nation’s 84,000 dams are considered deficient, and one of every eleven levees have been rated as “likely to fail” during a major flood.</p>

        <p>The Rebuild America Act will invest $12 billion a year to repair and improve the high-hazard dams that provide flood control, drinking water, irrigation, hydropower, and recreation across the country; and the flood levees that protect our cities and our farms.</p>

        <p>Much of our drinking water infrastructure is nearing the end of its useful life – we lose more than 2 trillion gallons of treated drinking water each year through leaking pipes, faulty meters and nearly a quarter-million water main breaks. Our wastewater treatment plants aren’t in much better shape: almost ten billion gallons of raw sewage are dumped into our nation’s waterways each year when plants fail or pipes burst.</p>

        <p>The Rebuild America Act will invest $6 billion a year so states can improve the drinking water systems that provide Americans with clean, safe water; and $6 billion a year to improve the wastewater plants and stormwater infrastructure that protect water quality in our nation’s rivers and lakes.
        America’s aging electrical grid – which consists of a patchwork of power generation, transmission, and distribution facilities, some of which date back to the early 1900s – simply isn’t up to 21st century challenges, including resiliency to cyber-attacks. It is no wonder the World Economic Forum ranks our grid at just 24th in the world in terms of reliability, just behind Barbados.
        The Rebuild America Act will invest $10 billion a year for power transmission and distribution modernization projects to improve the reliability and resiliency of our ever more complex electric power grid.  This investment will also position our grid to accept new sources of locally generated renewable energy, and it will address critical vulnerabilities to cyber-attacks.
        The Organization for Economic Cooperation and Development ranks the U.S. 16th in the world in terms of broadband access. We are only marginally better in terms of average broadband speed – 12th in the world.  Today, businesses, schools and families in Bucharest, Romania have access to much faster internet than most of the United States.  That is unacceptable and has got to change.
        The Rebuild America Act will invest $5 billion a year to expand high-speed broadband networks in under-served and unserved areas, and to boost speeds and capacity all across the country.  Internet access is no longer a luxury: it is essential for 21st century commerce, education, telemedicine, and public safety.
        If $1 trillion over five years sounds like a lot of money, consider that the American Society of Civil Engineers says we need to invest $3.6 trillion by 2020 just to get our nation’s infrastructure to a state of good repair.That is $1.6 trillion short of current spending levels.</p>

        <p>Moreover, there is an economic cost of not acting.  Several studies have concluded that our deteriorating infrastructure already costs our economy close to $200 billion per year.</p>

        <p>Further, investing in infrastructure is not just about “bricks and mortar.”   At its core, it is about jobs and the economy.</p>

        <p>While the economy has improved significantly since the worst days of the recession, our nation still faces a major jobs crisis. We need to create millions of decent paying jobs, and we need to create them now.  And infrastructure spending is one of the best ways to do just that.</p>

        <p>The Rebuild America Act would put more than thirteen million Americans to work in decent-paying jobs.  These are jobs in sectors of the economy that haven’t fully recovered from the recession, like construction, and they are jobs that cannot be shipped offshore or outsourced overseas.</p>

        <p>Moreover, each and every project will require equipment, supplies and services – from architects, engineers, and building materials and supply companies.  Thirteen million Americans will spend their hard-earned salaries in their communities, supporting restaurants and local stores.</p>

        <p>It is no wonder groups from across the political spectrum – from organized labor to the U.S. Chamber of Commerce – agree that investing in infrastructure makes sound economic sense.  When spending goes up, both GDP and household incomes grow.  Even the International Monetary Fund – long a proponent of economic austerity – now says that well-designed infrastructure projects spur almost $3 in economic output for each dollar spent.</p>

        <div class="sign-up-form">
          <h3>Together we can create decent paying jobs.</h3>

          {{>signupform source="issues/creating-decent-paying-jobs" url="https://go.ourrevolution.com/page/s/issues-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
