<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>Strengthen and Expand Social Security</h2>
        <p>Social Security is the most successful government program in our nation’s history. Before it was signed into law, nearly half of senior citizens lived in poverty. Today, the elderly poverty rate is 10 percent. Although still much too high, that’s a dramatic improvement.</p>

        <p>Through good times and bad, Social Security has paid every nickel owed to every eligible American – on time and without delay. As corporations destroyed the retirement dreams of millions over the past 30 years by eliminating defined benefit pension plans, Social Security was right there paying full benefits. As millions of Americans lost their life savings after Wall Street’s recklessness crashed the economy in 2008, Social Security was right there paying full benefits.</p>

        <p>Today, Social Security is more important than ever. Over half of workers between the ages of 55-64 have no retirement savings. More than a third of senior citizens depend on Social Security for virtually all of their income. One out of every five senior citizens is trying to scrape by on an average income of just $8,300 a year.</p>

        <p>Given these facts, our job cannot be to cut Social Security. Our job must be to expand it so that every American can retire with dignity and respect.</p>

        <p>Virtually every Republican candidate for president disagrees. Many of them claim Social Security is “going broke,” that it’s causing the deficit to explode, and its trust fund is full of IOUs.</p>

        <p>They want the American people to believe Social Security is in crisis and must be cut.</p>

        <p>They are dead wrong.</p>

        <p>Here are the facts:</p>

        <p>Social Security has a $2.8 trillion surplus. It can pay every benefit owed to every eligible American for the next 19 years (and more than three-quarters after that).</p>

        <p>Social Security’s assets aren’t “just paper,” as conservatives sometimes put it. Social Security invests in U.S Treasury bonds, the safest interest-bearing securities in the world. These are the same bonds wealthy investors have purchased, along with China and other foreign countries. These bonds are backed by the full faith and credit of the U.S. government, which in our long history has never defaulted on its debt obligations.</p>

        <p>Right now a billionaire pays the same amount of money into Social Security as someone who makes $118,500 a year. That’s because there is a cap on taxable income that goes into the Social Security system.</p>

        <span class="sub-heading">The Solution</span>
        <h2>What can we do about it?</h2>

        <p>We need to lift this cap so that everyone who makes over $250,000 a year pays the same percentage of their income into Social Security as the middle class and working families.</p>

        <p>This would not only extend the solvency of Social Security for the next 50 years, but also bring in enough revenue to expand benefits by an average of $65 a month; increase cost-of-living-adjustments; and lift more seniors out of poverty by increasing the minimum benefits paid to low-income seniors.</p>

        <p>Not only is this the right thing to do from a moral perspective, it is also what the vast majority of the American people want us to do. 61 percent of the American people support expanding Social Security benefits by lifting the cap on taxable income, according to an NBC News/Wall Street Journal poll earlier this year.</p>

        <p>It’s time to expand Social Security to make sure that everyone in this country can retire with the dignity and respect they deserve.</p>

        <div class="sign-up-form">
          <h3>Together we can strengthen social security.</h3>

          {{>signupform source="issues/strengthen-social-security" url="https://ourrevolution-bernie16.bsd.net/page/s/issues-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
