<div class="row">
  <div class="container">
    {{> issuesheading}}

    <div class="issues">
      <div class="col-md-3">
        {{> issuesnav }}
      </div>
      <div class="col-md-9 issues__content">
        <span class="sub-heading">The Problem</span>
        <h2>The Trans-Pacific Partnership</h2>

        <h4>1. The TPP will allow corporations to outsource even more jobs overseas.</h4>

        <p>According to the Economic Policy Institute, if the TPP is agreed to, the U.S. will lose more than 130,000 jobs to Vietnam and Japan alone. But that is just the tip of the iceberg.</p>

        <p><strong>Service Sector Jobs will be lost.</strong> At a time when corporations have already outsourced over 3 million service sector jobs in the U.S., TPP includes rules that will make it even easier for corporate America to outsource call centers; computer programming; engineering; accounting; and medical diagnostic jobs.</p>

        <p><strong>Manufacturing jobs will be lost.</strong> As a result of NAFTA, the U.S. lost nearly 700,000 jobs. As a result of Permanent Normal Trade Relations with China, the U.S. lost over 2.7 million jobs. As a result of the Korea Free Trade Agreement, the U.S. has lost 70,000 jobs.</p>

        <p>Wages, benefits, and collective bargaining will also be threatened.</p>

        <h4>2. U.S. sovereignty will be undermined by giving corporations the right to challenge our laws before international tribunals. Buy America laws could come to an end.</h4>

        <p>The TPP creates a special dispute resolution process that allows corporations to challenge any domestic laws that could adversely impact their “expected future profits.”</p>

        <p>These challenges would be heard before UN and World Bank tribunals which could require taxpayer compensation to corporations.</p>

        <h4>3.Prescription drug prices will increase, access to life saving drugs will decrease, and the profits of drug companies will go up. Wall Street would benefit at the expense of everyone else.</h4>

        <p>Big pharmaceutical companies are working hard to ensure that the TPP extends the monopolies they have for prescription drugs by extending their patents (which currently can last 20 years or more).</p>

        <p>This would expand the profits of big drug companies, keep drug prices artificially high, and leave millions of people around the world without access to life saving drugs. Doctors without Borders stated that “the TPP agreement is on track to become the most harmful trade pact ever for access to medicines in developing countries.”</p>

        <h4>4. Our ability to protect the environment will be undermined.</h4>

        <p>Food Safety Standards will be threatened.</p>

        <p>The TPP will allow corporations to challenge any law that would adversely impact their future profits. Pending claims worth over $14 billion have been filed based on similar language in other trade agreements. Most of these claims deal with challenges to environmental laws in a number of countries. The TPP will make matters even worse by giving corporations the right to sue any of the nations that sign onto the TPP. These lawsuits would be heard in international tribunals bypassing domestic courts</p>

        <h4>5. The TPP has no expiration date, making it virtually impossible to repeal.</h4>

        <p>Once TPP is agreed to, it has no sunset date and could only be altered by a consensus of all of the countries that agreed to it. Other countries, like China, could be allowed to join in the future. For example, Canada and Mexico joined TPP negotiations in 2012 and Japan joined last year.</p>

        <div class="sign-up-form">
          <h3>Together we can defeat the disastrous Trans-Pacific Partnership.</h3>

          {{>signupform source="issues/tpp" url="https://go.ourrevolution.com/page/s/issues-signup"}}
        </section>
      </div>
    </div>
  </div>
</div>
